<section class="about">
  <div class="container about__container">
    <h2 class="second-title about__title">
      О нас
    </h2>
  </div>
  <div class="about__body">
    <div class="container about__body-container">
      <div class="about__img-block">
        <picture>
          <source srcset="./images/about-470.webp" media="(max-width:470px)" type="image/webp">
          <source srcset="./images/about-470.png" media="(max-width:470px)" type="image/png">
          <source srcset="./images/about-758.webp" media="(max-width:758px)" type="image/webp">
          <source srcset="./images/about-758.png" media="(max-width:758px)" type="image/png">
          <source srcset="./images/about-990.webp" media="(max-width:990px)" type="image/webp">
          <source srcset="./images/about-990.png" media="(max-width:990px)" type="image/png">
          <source srcset="./images/about-1230.webp" media="(max-width:1230px)" type="image/webp">
          <source srcset="./images/about-1230.png" media="(max-width:1230px)" type="image/png">
          <source srcset="./images/about-1920.webp" type="image/webp">
          <img class="about__img" src="./images/about-1920.png" alt="Девушка с косметикой в руках" width="622"
            height="526" loading="lazy">
        </picture>
      </div>
      <div class="about__content">
        <div class="about__content-text about__content-text--bg">
          Производство косметики &laquo;SAVONRY&raquo; базируется на&nbsp;принципах арома&nbsp;&mdash;
          и&nbsp;фитотерапии,
          при&nbsp;строгом соблюдении рецептур и&nbsp;технологий.
        </div>
        <div class="about__content-text about__content-text--sm">
          Здоровье, безопасность и&nbsp;благополучие наших клиентов&nbsp;&mdash; главные приоритеты для&nbsp;нас.
          Мы&nbsp;стремимся предоставить
          продукты высокого качества, использование которых доставит вам&nbsp;удовольствие.
        </div>
        <a class="btn primary-btn about__content-btn" href="#">
          Подробнее о нас
        </a>
      </div>
    </div>
  </div>
</section>
