<aside class="account-sidebar">
  <span class="fourth-title account-sidebar__title">
    Привет, Анна!
  </span>
  <ul class="list-reset account-sidebar__list">
    <li class="account-sidebar__item">
      <a class="link account-sidebar__link account-sidebar__link--lk" href="./account-profile.html">
        <svg>
          <use href="./images/sprite.svg#account-lk"></use>
        </svg>
        Профиль
      </a>
    </li>
    <li class="account-sidebar__item">
      <a class="link account-sidebar__link account-sidebar__link--lock" href="./account-password.html">
        <svg>
          <use href="./images/sprite.svg#account-lock"></use>
        </svg>
        Смена пароля
      </a>
    </li>
    <li class="account-sidebar__item">
      <a class="link account-sidebar__link account-sidebar__link--cart" href="./account-history.html">
        <svg>
          <use href="./images/sprite.svg#account-cart"></use>
        </svg>
        История заказов
      </a>
    </li>
    <li class="account-sidebar__item">
      <a class="link account-sidebar__link account-sidebar__link--mail" href="./account-mailing.html">
        <svg>
          <use href="./images/sprite.svg#account-mail"></use>
        </svg>
        E-mail рассылка
      </a>
    </li>
  </ul>
  <a class="transparent-btn account-sidebar__exit-link" href="./index.html">
    Выход
  </a>
</aside>
