<section class="advantages">
  <div class="container advantages__container">
    <h2 class="second-title advantages__title">
      SAVONRY &mdash; <br>это эффективная косметика с чистым растительным составом!
    </h2>
    <div class="advantages__item advantages__payment">
      <svg class="advantages__icon">
        <use href="./images/sprite.svg#card"></use>
      </svg>
      Удобная оплата онлайн
    </div>
    <div class="advantages__item advantages__delivery">
      <svg class="advantages__icon">
        <use href="./images/sprite.svg#delivery"></use>
      </svg>
      Бесплатная доставка
    </div>
    <div class="advantages__item advantages__ingredients">
      <svg class="advantages__icon">
        <use href="./images/sprite.svg#nature"></use>
      </svg>
      Натуральные ингридиенты
    </div>
    <div class="advantages__img-block">
      <picture>
        <source srcset="./images/advantages-470.webp" media="(max-width:470px)" type="image/webp">
        <source srcset="./images/advantages-470.png" media="(max-width:470px)" type="image/png">
        <source srcset="./images/advantages-758.webp" media="(max-width:758px)" type="image/webp">
        <source srcset="./images/advantages-758.png" media="(max-width:758px)" type="image/png">
        <source srcset="./images/advantages-990.webp" media="(max-width:990px)" type="image/webp">
        <source srcset="./images/advantages-990.png" media="(max-width:990px)" type="image/png">
        <source srcset="./images/advantages-1920.webp" type="image/webp">
        <img class="advantages__img" src="./images/advantages-1920.png" alt="Девушки с косметикой в руках" width="408"
          height="406" loading="lazy">
      </picture>
    </div>
  </div>
</section>
