<section class="blog">
  <div class="container blog__container">
    <h2 class="second-title blog__title">
      Статьи
    </h2>
    <div class="blog__article-block">
      <div class="blog__article">
        <div class="blog__article-img-block">
          <picture>
            <source media="(max-width:470px)" srcset="./images/blog-470-1.webp" type="image/webp">
            <source media="(max-width:470px)" srcset="./images/blog-470-1.jpg">
            <source media="(max-width:758px)" srcset="./images/blog-758-1.webp" type="image/webp">
            <source media="(max-width:758px)" srcset="./images/blog-758-1.jpg">
            <source media="(max-width:990px)" srcset="./images/blog-990-1.webp" type="image/webp">
            <source media="(max-width:990px)" srcset="./images/blog-990-1.jpg">
            <source media="(max-width:1230px)" srcset="./images/blog-1230-1.webp" type="image/webp">
            <source media="(max-width:1230px)" srcset="./images/blog-1230-1.jpg">
            <source srcset="./images/blog-1920-1.webp" type="image/webp">
            <img src="./images/blog-1920-1.jpg" alt="Макияж" width="387" height="242">
          </picture>
        </div>
        <h4 class="fourth-title blog__article-title">
          <a class="link blog__article-title-link" href="./article.html">
            Куда же без декоративной косметики?
          </a>
        </h4>
        <a class="link blog__article-link" href="./article.html">
          Читать подробнее
        </a>
        <span class="text blog__article-date">
          01.07.2019
        </span>
      </div>
      <div class="blog__article">
        <div class="blog__article-img-block">
          <picture>
            <source media="(max-width:470px)" srcset="./images/blog-470-2.webp" type="image/webp">
            <source media="(max-width:470px)" srcset="./images/blog-470-2.jpg">
            <source media="(max-width:758px)" srcset="./images/blog-758-2.webp" type="image/webp">
            <source media="(max-width:758px)" srcset="./images/blog-758-2.jpg">
            <source media="(max-width:990px)" srcset="./images/blog-990-2.webp" type="image/webp">
            <source media="(max-width:990px)" srcset="./images/blog-990-2.jpg">
            <source media="(max-width:1230px)" srcset="./images/blog-1230-2.webp" type="image/webp">
            <source media="(max-width:1230px)" srcset="./images/blog-1230-2.jpg">
            <source srcset="./images/blog-1920-2.webp" type="image/webp">
            <img src="./images/blog-1920-2.jpg" alt="Маска из голубой глины" width="387" height="242">
          </picture>
        </div>
        <h4 class="fourth-title blog__article-title">
          <a class="link blog__article-title-link" href="./article.html">
            Что вы знаете о голубой глине?
          </a>
        </h4>
        <a class="link blog__article-link" href="./article.html">
          Читать подробнее
        </a>
        <span class="text blog__article-date">
          01.06.2019
        </span>
      </div>
      <div class="blog__article">
        <div class="blog__article-img-block">
          <picture>
            <source media="(max-width:470px)" srcset="./images/blog-470-3.webp" type="image/webp">
            <source media="(max-width:470px)" srcset="./images/blog-470-3.jpg">
            <source media="(max-width:758px)" srcset="./images/blog-758-3.webp" type="image/webp">
            <source media="(max-width:758px)" srcset="./images/blog-758-3.jpg">
            <source media="(max-width:990px)" srcset="./images/blog-990-3.webp" type="image/webp">
            <source media="(max-width:990px)" srcset="./images/blog-990-3.jpg">
            <source media="(max-width:1230px)" srcset="./images/blog-1230-3.webp" type="image/webp">
            <source media="(max-width:1230px)" srcset="./images/blog-1230-3.jpg">
            <source srcset="./images/blog-1920-3.webp" type="image/webp">
            <img src="./images/blog-1920-3.jpg" alt="Кокосовое масло" width="387" height="242">
          </picture>
        </div>
        <h4 class="fourth-title blog__article-title">
          <a class="link blog__article-title-link" href="./article.html">
            10 способов применения кокосового масла
          </a>
        </h4>
        <a class="link blog__article-link" href="./article.html">
          Читать подробнее
        </a>
        <span class="text blog__article-date">
          12.03.2019
        </span>
      </div>
      <div class="blog__article">
        <div class="blog__article-img-block">
          <picture>
            <source media="(max-width:470px)" srcset="./images/blog-470-2.webp" type="image/webp">
            <source media="(max-width:470px)" srcset="./images/blog-470-2.jpg">
            <source media="(max-width:758px)" srcset="./images/blog-758-2.webp" type="image/webp">
            <source media="(max-width:758px)" srcset="./images/blog-758-2.jpg">
            <source media="(max-width:990px)" srcset="./images/blog-990-2.webp" type="image/webp">
            <source media="(max-width:990px)" srcset="./images/blog-990-2.jpg">
            <source media="(max-width:1230px)" srcset="./images/blog-1230-2.webp" type="image/webp">
            <source media="(max-width:1230px)" srcset="./images/blog-1230-2.jpg">
            <source srcset="./images/blog-1920-2.webp" type="image/webp">
            <img src="./images/blog-1920-2.jpg" alt="Маска из голубой глины" width="387" height="242">
          </picture>
        </div>
        <h4 class="fourth-title blog__article-title">
          <a class="link blog__article-title-link" href="./article.html">
            Что вы знаете о голубой глине?
          </a>
        </h4>
        <a class="link blog__article-link" href="./article.html">
          Читать подробнее
        </a>
        <span class="text blog__article-date">
          01.06.2019
        </span>
      </div>
      <div class="blog__article">
        <div class="blog__article-img-block">
          <picture>
            <source media="(max-width:470px)" srcset="./images/blog-470-1.webp" type="image/webp">
            <source media="(max-width:470px)" srcset="./images/blog-470-1.jpg">
            <source media="(max-width:758px)" srcset="./images/blog-758-1.webp" type="image/webp">
            <source media="(max-width:758px)" srcset="./images/blog-758-1.jpg">
            <source media="(max-width:990px)" srcset="./images/blog-990-1.webp" type="image/webp">
            <source media="(max-width:990px)" srcset="./images/blog-990-1.jpg">
            <source media="(max-width:1230px)" srcset="./images/blog-1230-1.webp" type="image/webp">
            <source media="(max-width:1230px)" srcset="./images/blog-1230-1.jpg">
            <source srcset="./images/blog-1920-1.webp" type="image/webp">
            <img src="./images/blog-1920-1.jpg" alt="Макияж" width="387" height="242">
          </picture>
        </div>
        <h4 class="fourth-title blog__article-title">
          <a class="link blog__article-title-link" href="./article.html">
            Куда же без декоративной косметики?
          </a>
        </h4>
        <a class="link blog__article-link" href="./article.html">
          Читать подробнее
        </a>
        <span class="text blog__article-date">
          01.07.2019
        </span>
      </div>
      <div class="blog__article">
        <div class="blog__article-img-block">
          <picture>
            <source media="(max-width:470px)" srcset="./images/blog-470-3.webp" type="image/webp">
            <source media="(max-width:470px)" srcset="./images/blog-470-3.jpg">
            <source media="(max-width:758px)" srcset="./images/blog-758-3.webp" type="image/webp">
            <source media="(max-width:758px)" srcset="./images/blog-758-3.jpg">
            <source media="(max-width:990px)" srcset="./images/blog-990-3.webp" type="image/webp">
            <source media="(max-width:990px)" srcset="./images/blog-990-3.jpg">
            <source media="(max-width:1230px)" srcset="./images/blog-1230-3.webp" type="image/webp">
            <source media="(max-width:1230px)" srcset="./images/blog-1230-3.jpg">
            <source srcset="./images/blog-1920-3.webp" type="image/webp">
            <img src="./images/blog-1920-3.jpg" alt="Кокосовое масло" width="387" height="242">
          </picture>
        </div>
        <h4 class="fourth-title blog__article-title">
          <a class="link blog__article-title-link" href="./article.html">
            10 способов применения кокосового масла
          </a>
        </h4>
        <a class="link blog__article-link" href="./article.html">
          Читать подробнее
        </a>
        <span class="text blog__article-date">
          12.03.2019
        </span>
      </div>
      <div class="blog__article">
        <div class="blog__article-img-block">
          <picture>
            <source media="(max-width:470px)" srcset="./images/blog-470-3.webp" type="image/webp">
            <source media="(max-width:470px)" srcset="./images/blog-470-3.jpg">
            <source media="(max-width:758px)" srcset="./images/blog-758-3.webp" type="image/webp">
            <source media="(max-width:758px)" srcset="./images/blog-758-3.jpg">
            <source media="(max-width:990px)" srcset="./images/blog-990-3.webp" type="image/webp">
            <source media="(max-width:990px)" srcset="./images/blog-990-3.jpg">
            <source media="(max-width:1230px)" srcset="./images/blog-1230-3.webp" type="image/webp">
            <source media="(max-width:1230px)" srcset="./images/blog-1230-3.jpg">
            <source srcset="./images/blog-1920-3.webp" type="image/webp">
            <img src="./images/blog-1920-3.jpg" alt="Кокосовое масло" width="387" height="242">
          </picture>
        </div>
        <h4 class="fourth-title blog__article-title">
          <a class="link blog__article-title-link" href="./article.html">
            10 способов применения кокосового масла
          </a>
        </h4>
        <a class="link blog__article-link" href="./article.html">
          Читать подробнее
        </a>
        <span class="text blog__article-date">
          12.03.2019
        </span>
      </div>
      <div class="blog__article">
        <div class="blog__article-img-block">
          <picture>
            <source media="(max-width:470px)" srcset="./images/blog-470-2.webp" type="image/webp">
            <source media="(max-width:470px)" srcset="./images/blog-470-2.jpg">
            <source media="(max-width:758px)" srcset="./images/blog-758-2.webp" type="image/webp">
            <source media="(max-width:758px)" srcset="./images/blog-758-2.jpg">
            <source media="(max-width:990px)" srcset="./images/blog-990-2.webp" type="image/webp">
            <source media="(max-width:990px)" srcset="./images/blog-990-2.jpg">
            <source media="(max-width:1230px)" srcset="./images/blog-1230-2.webp" type="image/webp">
            <source media="(max-width:1230px)" srcset="./images/blog-1230-2.jpg">
            <source srcset="./images/blog-1920-2.webp" type="image/webp">
            <img src="./images/blog-1920-2.jpg" alt="Маска из голубой глины" width="387" height="242">
          </picture>
        </div>
        <h4 class="fourth-title blog__article-title">
          <a class="link blog__article-title-link" href="./article.html">
            Что вы знаете о голубой глине?
          </a>
        </h4>
        <a class="link blog__article-link" href="./article.html">
          Читать подробнее
        </a>
        <span class="text blog__article-date">
          01.06.2019
        </span>
      </div>
      <div class="blog__article">
        <div class="blog__article-img-block">
          <picture>
            <source media="(max-width:470px)" srcset="./images/blog-470-1.webp" type="image/webp">
            <source media="(max-width:470px)" srcset="./images/blog-470-1.jpg">
            <source media="(max-width:758px)" srcset="./images/blog-758-1.webp" type="image/webp">
            <source media="(max-width:758px)" srcset="./images/blog-758-1.jpg">
            <source media="(max-width:990px)" srcset="./images/blog-990-1.webp" type="image/webp">
            <source media="(max-width:990px)" srcset="./images/blog-990-1.jpg">
            <source media="(max-width:1230px)" srcset="./images/blog-1230-1.webp" type="image/webp">
            <source media="(max-width:1230px)" srcset="./images/blog-1230-1.jpg">
            <source srcset="./images/blog-1920-1.webp" type="image/webp">
            <img src="./images/blog-1920-1.jpg" alt="Макияж" width="387" height="242">
          </picture>
        </div>
        <h4 class="fourth-title blog__article-title">
          <a class="link blog__article-title-link" href="./article.html">
            Куда же без декоративной косметики?
          </a>
        </h4>
        <a class="link blog__article-link" href="./article.html">
          Читать подробнее
        </a>
        <span class="text blog__article-date">
          01.07.2019
        </span>
      </div>
    </div>
    @include('pagination.html')
  </div>
</section>
