<div class="breadcrumbs">
  <div class="container">
    <ul class="list-reset breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="./index.html">
          Главная
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="./catalog.html">
          Ванна и душ
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="./subcatalog.html">
          Бурлящие шарики для ванн
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="./subcatalog.html">
          Классические
        </a>
      </li>
      <li class="breadcrumbs__item">
        Набор BATH BOMB (Набор бурлящих шариков ВИШНЯ-ЧЕРНАЯ СМОРОДИНА-ВИНОГРАД), 3шт.
      </li>
    </ul>
  </div>
</div>
