<section class="care">
  <div class="container care__container">
    <h2 class="second-title care__title">
      Мы заботимся о&nbsp;вашем будущем
    </h2>
    <div class="care__block">
      <div class="care__img-block">
        <picture>
          <source media="(max-width:470px)" srcset="./images/care-1-470.webp" type="image/webp">
          <source media="(max-width:470px)" srcset="./images/care-1-470.jpg">
          <source media="(max-width:758px)" srcset="./images/care-1-758.webp" type="image/webp">
          <source media="(max-width:758px)" srcset="./images/care-1-758.jpg">
          <source media="(max-width:990px)" srcset="./images/care-1-990.webp" type="image/webp">
          <source media="(max-width:990px)" srcset="./images/care-1-990.jpg">
          <source media="(max-width:1230px)" srcset="./images/care-1-1230.webp" type="image/webp">
          <source media="(max-width:1230px)" srcset="./images/care-1-1230.jpg">
          <source srcset="./images/care-1-1920.webp" type="image/webp">
          <img src="./images/care-1-1920.jpg" alt="Ингредиенты Savonry" width="386" height="484">
        </picture>
      </div>
      <div class="care__img-block">
        <picture>
          <source media="(max-width:470px)" srcset="./images/care-2-470.webp" type="image/webp">
          <source media="(max-width:470px)" srcset="./images/care-2-470.jpg">
          <source media="(max-width:758px)" srcset="./images/care-2-758.webp" type="image/webp">
          <source media="(max-width:758px)" srcset="./images/care-2-758.jpg">
          <source media="(max-width:990px)" srcset="./images/care-2-990.webp" type="image/webp">
          <source media="(max-width:990px)" srcset="./images/care-2-990.jpg">
          <source media="(max-width:1230px)" srcset="./images/care-2-1230.webp" type="image/webp">
          <source media="(max-width:1230px)" srcset="./images/care-2-1230.jpg">
          <source srcset="./images/care-2-1920.webp" type="image/webp">
          <img src="./images/care-2-1920.jpg" alt="Упаковка Savonry" width="386" height="484">
        </picture>
      </div>
      <div class="care__img-block">
        <picture>
          <source media="(max-width:470px)" srcset="./images/care-3-470.webp" type="image/webp">
          <source media="(max-width:470px)" srcset="./images/care-3-470.jpg">
          <source media="(max-width:758px)" srcset="./images/care-3-758.webp" type="image/webp">
          <source media="(max-width:758px)" srcset="./images/care-3-758.jpg">
          <source media="(max-width:990px)" srcset="./images/care-3-990.webp" type="image/webp">
          <source media="(max-width:990px)" srcset="./images/care-3-990.jpg">
          <source media="(max-width:1230px)" srcset="./images/care-3-1230.webp" type="image/webp">
          <source media="(max-width:1230px)" srcset="./images/care-3-1230.jpg">
          <source srcset="./images/care-3-1920.webp" type="image/webp">
          <img src="./images/care-3-1920.jpg" alt="Косметика Savonry" width="386" height="484">
        </picture>
      </div>
    </div>
  </div>
</section>
