<section class="contacts">
  <div class="container contacts__container">
    <h2 class="second-title contacts__title">
      Контакты
    </h2>
    <div class="contacts__map" id="map">
    </div>
    <div class="contacts__block">
      <div class="contacts__left-block">
        <span class="subhead contacts__subhead">
          Контактные данные
        </span>
        <ul class="list-reset contacts__list contacts__data-list">
          <li class="contacts__data-item">
            <span class="contacts__item-title">
              Адрес:
            </span>
            <span class="text contacts__item-details">
              г. Санкт-Петербург, ул. Якорная, д. 12
            </span>
          </li>
          <li class="contacts__data-item">
            <span class="contacts__item-title">
              Телефон:
            </span>
            <div class="contacts__data-item-links">
              <a class="link text contacts__item-link" href="tel:+79817022227">
                +7 (981) 702-22-27
              </a>
              <a class="link text contacts__item-link" href="tel:+78005052305">
                +7 (800) 505-23-05
              </a>
            </div>
          </li>
          <li class="contacts__data-item">
            <span class="contacts__item-title">
              Почта:
            </span>
            <a class="link text contacts__item-link" href="mailto:zakaz@savonryshop.ru">
              zakaz@savonryshop.ru
            </a>
          </li>
          <li>
            <p class="contacts__item-title contacts__schedule">
              Рабочие дни с 9:30 до 17:30, прием заказов online 24/7
            </p>
          </li>
        </ul>
      </div>
      <div class="contacts__right-block">
        <span class="subhead contacts__requisites">
          Реквизиты организации
        </span>
        <ul class="list-reset contacts__list contacts__requisites-list">
          <li class="contacts__item">
            <span class="contacts__item-title contacts__requisites-item-title">
              Название:
            </span>
            <span class="text contacts__item-details">
              ИП ДОМКЕ ИННА ВАСИЛЬЕВНА
            </span>
          </li>
          <li class="contacts__item">
            <span class="contacts__item-title contacts__requisites-item-title">
              ИНН:
            </span>
            <span class="text contacts__item-details">
              780101602509
            </span>
          </li>
          <li class="contacts__item">
            <span class="contacts__item-title contacts__requisites-item-title">
              ОГРН:
            </span>
            <span class="text contacts__item-details">
              322784700034519
            </span>
          </li>
          <li class="contacts__item">
            <span class="contacts__item-title contacts__requisites-item-title">
              Р/с:
            </span>
            <span class="text contacts__item-details contacts__item-details--number">
              40802810955000083317
            </span>
          </li>
          <li class="contacts__item">
            <span class="contacts__item-title contacts__requisites-item-title">
              К/с:
            </span>
            <span class="text contacts__item-details contacts__item-details--number">
              30101810500000000653
            </span>
          </li>
          <li class="contacts__item">
            <span class="contacts__item-title contacts__requisites-item-title">
              БИК:
            </span>
            <span class="text contacts__item-details">
              044030653
            </span>
          </li>
        </ul>
        <ul class="list-reset contacts__list contacts__address-list">
          <li class="contacts__item">
            <span class="contacts__item-title contacts__address-item-title">
              Юридический адрес:
            </span>
            <p class="text contacts__item-details">
              199004, Санкт-Петербург г, вн.тер.г. муниципальный округ Остров Декабристов, наб Макарова д.18, кв.14
            </p>
          </li>
          <li class="contacts__item">
            <span class="contacts__item-title contacts__address-item-title">
              Фактический адрес:
            </span>
            <p class="text contacts__item-details">
              199004, Санкт-Петербург г, вн.тер.г. муниципальный округ Остров Декабристов, наб Макарова д.18, кв.14
            </p>
          </li>
          <li class="contacts__item">
            <span class="contacts__item-title contacts__address-item-title">
              Почтовый адрес:
            </span>
            <p class="text contacts__item-details">
              199004, Санкт-Петербург г, вн.тер.г. муниципальный округ Остров Декабристов, наб Макарова д.18, кв.14
            </p>
          </li>
        </ul>
        <a class="link contacts__item-title contacts__download" href="./resources/rekvizity.rtf" download>
          Скачать реквизиты
        </a>
      </div>
    </div>
  </div>
</section>
