<section class="email-us">
  <div class="container email-us__container">
    <h2 class="second-title email-us__title">
      Напишите нам
    </h2>
    <form class="email-us__form">
      <label class="email-us__form-label">
        <input class="input email-us__input" type="text" placeholder="Имя">
      </label>
      <label class="email-us__form-label">
        <input class="input email-us__input" type="email" placeholder="E-mail">
      </label>
      <label class="email-us__form-label">
        <input class="input email-us__input" type="tel" placeholder="Телефон">
      </label>
      <label class="email-us__form-textarea-label">
        <textarea class="input email-us__textarea" placeholder="Ваше сообщение"></textarea>
      </label>
      <div class="email-us__form-bottom">
        <button class="btn-reset btn primary-btn email-us__form-btn" type="submit">
          Отправить
        </button>
        <span class="email-us__form-consent">
          Нажимая продолжить я&nbsp;даю своё согласие на&nbsp;<a class="link link--underline" href="#">обработку персональных данных</a>
          в&nbsp;соответствии с&nbsp;<a class="link link--underline" href="#">Политикой конфиденциальности</a>
        </span>
      </div>
    </form>
  </div>
</section>
