<footer class="footer">
  <div class="footer-subscribe">
    <div class="footer-subscribe__img-block">
      <picture>
        <source srcset="./images/subscribe-470.webp" media="(max-width:470px)" type="image/webp">
        <source srcset="./images/subscribe-470.png" media="(max-width:470px)" type="image/png">
        <source srcset="./images/subscribe-758.webp" media="(max-width:758px)" type="image/webp">
        <source srcset="./images/subscribe-758.png" media="(max-width:758px)" type="image/png">
        <source srcset="./images/subscribe-990.webp" media="(max-width:990px)" type="image/webp">
        <source srcset="./images/subscribe-990.png" media="(max-width:990px)" type="image/png">
        <source srcset="./images/subscribe-1230.webp" media="(max-width:1230px)" type="image/webp">
        <source srcset="./images/subscribe-1230.png" media="(max-width:1230px)" type="image/png">
        <source srcset="./images/subscribe-1920.webp" type="image/webp">
        <img class="footer-subscribe__img" src="./images/subscribe-1920.png" alt="Косметика Savonry" loading="lazy">
      </picture>
    </div>
    <div class="container-fluid footer-subscribe__container">
      <div class="footer-subscribe__content">
        <h2 class="second-title footer-subscribe__title">
          Узнавайте первыми о наших акциях, розыгрышах и&nbsp;новостях
        </h2>
        <form class="footer-subscribe__form">
          <label class="footer-subscribe__form-label">
            <input class="footer-subscribe__form-input" type="email" placeholder="E-mail">
          </label>
          <button class="btn-reset btn primary-btn footer-subscribe__form-btn" type="submit">
            Подписаться
          </button>
        </form>
        <span class="footer-subscribe__info">
          Нажимая подписаться, вы соглашаетесь на обработку
          <a class="link link--underline" href="#">
            персональных данных
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container footer-bottom__container">
      <div class="footer-bottom__info">
        <a class="footer-bottom__info-logo-link" href="./index.html">
          <img src="./images/svg/footer-logo.svg" alt="Логотип" width="170" height="54">
        </a>
        <div class="text footer-bottom__info-text">
          SAVONRY - бренд высококачественной и&nbsp;эффективной натуральной косметики с&nbsp;чистым растительным
          составом
        </div>
        <a class="footer-bottom__info-social" href="#" aria-label="ВКонтакте">
          <svg>
            <use href="./images/sprite.svg#vk"></use>
          </svg>
        </a>
      </div>
      <div class="footer-bottom__catalog">
        <h4 class="subhead footer-bottom__title">
          Каталог
        </h4>
        <div class="footer-bottom__list-wrapper">
          <ul class="list-reset footer-bottom__list">
            <li class="footer-bottom__list-item">
              <a class="footer-bottom__list-link" href="#">
                Акции
              </a>
            </li>
            <li class="footer-bottom__list-item">
              <a class="footer-bottom__list-link" href="#">
                Новинки
              </a>
            </li>
            <li class="footer-bottom__list-item">
              <a class="footer-bottom__list-link" href="#">
                Лицо
              </a>
            </li>
            <li class="footer-bottom__list-item">
              <a class="footer-bottom__list-link" href="#">
                Ванна и душ
              </a>
            </li>
            <li class="footer-bottom__list-item">
              <a class="footer-bottom__list-link" href="#">
                Тело
              </a>
            </li>
          </ul>
          <ul class="list-reset footer-bottom__list">
            <li class="footer-bottom__list-item">
              <a class="footer-bottom__list-link" href="#">
                Волосы
              </a>
            </li>
            <li class="footer-bottom__list-item">
              <a class="footer-bottom__list-link" href="#">
                Для него
              </a>
            </li>
            <li class="footer-bottom__list-item">
              <a class="footer-bottom__list-link" href="#">
                Подарки
              </a>
            </li>
            <li class="footer-bottom__list-item">
              <a class="footer-bottom__list-link" href="#">
                Серии
              </a>
            </li>
            <li class="footer-bottom__list-item">
              <a class="footer-bottom__list-link" href="#">
                Аксессуары
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom__client">
        <span class="subhead footer-bottom__title">
          Для клиента
        </span>
        <div class="footer-bottom__list-wrapper">
          <ul class="list-reset footer-bottom__list">
            <li class="footer-bottom__list-item">
              <a class="footer-bottom__list-link" href="#">
                О нас
              </a>
            </li>
            <li class="footer-bottom__list-item">
              <a class="footer-bottom__list-link" href="#">
                Контакты
              </a>
            </li>
            <li class="footer-bottom__list-item">
              <a class="footer-bottom__list-link" href="#">
                Доставка и оплата
              </a>
            </li>
          </ul>
          <ul class="list-reset footer-bottom__list">
            <li class="footer-bottom__list-item">
              <a class="footer-bottom__list-link" href="./blog.html">
                Статьи
              </a>
            </li>
            <li class="footer-bottom__list-item">
              <a class="footer-bottom__list-link" href="./news.html">
                Новости
              </a>
            </li>
            <li class="footer-bottom__list-item">
              <a class="footer-bottom__list-link" href="#">
                Оптовикам
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom__block">
        <span class="footer-bottom__block-copy">
          Copyright @ 2018-2023 Savonry.
        </span>
        <ul class="list-reset footer-bottom__block-list">
          <li class="footer-bottom__block-item">
            <picture class="footer-bottom__block-picture footer-bottom__block-paykeeper">
              <source srcset="./images/paykeeper.webp" type="image/webp">
              <img src="./images/paykeeper.png" alt="Логотип paykeeper" width="69" height="23">
            </picture>
          </li>
          <li class="footer-bottom__block-item">
            <picture class="footer-bottom__block-picture footer-bottom__block-mastercard">
              <source srcset="./images/mastercard.webp" type="image/webp">
              <img src="./images/mastercard.png" alt="Логотип mastercard" width="42" height="25">
            </picture>
          </li>
          <li class="footer-bottom__block-item">
            <picture class="footer-bottom__block-picture footer-bottom__block-visa">
              <source srcset="./images/visa.webp" type="image/webp">
              <img src="./images/visa.png" alt="Логотип visa" width="44" height="13">
            </picture>
          </li>
          <li class="footer-bottom__block-item">
            <picture class="footer-bottom__block-picture footer-bottom__block-mir">
              <source srcset="./images/mir.webp" type="image/webp">
              <img src="./images/mir.png" alt="Логотип mir" width="34" height="11">
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
