<div class="gallery">
  <div class="gallery__block">
    <a class="img-link" href="#">
      <picture>
        <source srcset="./images/gallery-1.webp" type="image/webp">
        <img src="./images/gallery-1.jpg" alt="Косметика Savonry" width="340" height="590">
      </picture>
    </a>
  </div>
  <div class="gallery__block">
    <a class="img-link" href="#">
      <picture>
        <source srcset="./images/gallery-2.webp" type="image/webp">
        <img src="./images/gallery-2.jpg" alt="Косметика Savonry" width="285" height="285">
      </picture>
    </a>
    <a class="img-link" href="#">
      <picture>
        <source srcset="./images/gallery-3.webp" type="image/webp">
        <img src="./images/gallery-3.jpg" alt="Косметика Savonry" width="285" height="285">
      </picture>
    </a>
  </div>
  <div class="gallery__block">
    <a class="img-link" href="#">
      <picture>
        <source srcset="./images/gallery-4.webp" type="image/webp">
        <img src="./images/gallery-4.jpg" alt="Косметика Savonry" width="285" height="285">
      </picture>
    </a>
    <a class="gallery__card img-link" href="#">
      <span class="link gallery__subhead">
        @SAVONRY.BEAUTY
      </span>
      <p class="text gallery__text">
        подписывайся и&nbsp;узнавай тонкости ухода
      </p>
    </a>
  </div>
  <div class="gallery__block">
    <a class="img-link" href="#">
      <picture>
        <source srcset="./images/gallery-5.webp" type="image/webp">
        <img src="./images/gallery-5.jpg" alt="Косметика Savonry" width="387" height="590">
      </picture>
    </a>
  </div>
  <div class="gallery__block">
    <a class="img-link" href="#">
      <picture>
        <source srcset="./images/gallery-6.webp" type="image/webp">
        <img src="./images/gallery-6.jpg" alt="Косметика Savonry" width="285" height="285">
      </picture>
    </a>
    <a class="img-link" href="#">
      <picture>
        <source srcset="./images/gallery-7.webp" type="image/webp">
        <img src="./images/gallery-7.jpg" alt="Косметика Savonry" width="285" height="285">
      </picture>
    </a>
  </div>
  <div class="gallery__block">
    <a class="img-link" href="#">
      <picture>
        <source srcset="./images/gallery-8.webp" type="image/webp">
        <img src="./images/gallery-8.jpg" alt="Косметика Savonry" width="238" height="590">
      </picture>
    </a>
  </div>
</div>
