<section class="hero">
  <div class="swiper hero__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide hero__swiper-slide" style="background-image: url('./images/hero.webp');">
        <div class="hero__content">
          <h1 class="first-title">
            Новинка!
          </h1>
          <div class="hero__text">
            Встречай новую коллекцию шариков для&nbsp;ванны
          </div>
          <a class="btn primary-btn hero__btn" href="#">
            Подробнее
          </a>
        </div>
      </div>
      <div class="swiper-slide hero__swiper-slide" style="background-image: url('./images/hero.webp');">
        <div class="hero__content">
          <h1 class="first-title">
            Новинка!
          </h1>
          <div class="hero__text">
            Встречай новую коллекцию шариков для&nbsp;ванны
          </div>
          <a class="btn primary-btn hero__btn" href="#">
            Подробнее
          </a>
        </div>
      </div>
      <div class="swiper-slide hero__swiper-slide" style="background-image: url('./images/hero.webp');">
        <div class="hero__content">
          <h1 class="first-title">
            Новинка!
          </h1>
          <div class="hero__text">
            Встречай новую коллекцию шариков для&nbsp;ванны
          </div>
          <a class="btn primary-btn hero__btn" href="#">
            Подробнее
          </a>
        </div>
      </div>
    </div>
    <button class="btn-reset swiper-button-prev hero__swiper-button-prev" type="button">
      <svg>
        <use href="./images/sprite.svg#arrow-prev"></use>
      </svg>
    </button>
    <button class="btn-reset swiper-button-next hero__swiper-button-next" type="button">
      <svg>
        <use href="./images/sprite.svg#arrow-next"></use>
      </svg>
    </button>
  </div>
</section>
