<div class="history">
  <h2 class="second-title history__title">
    История заказов
  </h2>
  <div class="history__header">
    <span class="history__header-title history__header-title--date">
      Дата
    </span>
    <span class="history__header-title history__header-title--number">
      Номер заказа
    </span>
    <span class="history__header-title history__header-title--amount">
      Сумма заказа
    </span>
    <span class="history__header-title history__header-title--status">
      Статус
    </span>
  </div>
  <ul class="list-reset history__accordion-list">
    <li class="accordion history__accordion accordion--active">
      <div class="history__accordion-header">
        <div class="history__accordion-header-block history__accordion-header-block--date">
          <span class="history__accordion-header-title">
            Дата
          </span>
          <span class="text history__accordion-header-content">
            22.09.2023
          </span>
        </div>
        <div class="history__accordion-header-block history__accordion-header-block--number">
          <span class="history__accordion-header-title">
            Номер заказа
          </span>
          <span class="text history__accordion-header-content">
            12345678
          </span>
        </div>
        <div class="history__accordion-header-block history__accordion-header-block--amount">
          <span class="history__accordion-header-title">
            Сумма заказа
          </span>
          <span class="text history__accordion-header-content">
            1 690 ₽
          </span>
        </div>
        <div class="history__accordion-header-block history__accordion-header-block--status">
          <span class="history__accordion-header-title">
            Статус
          </span>
          <span class="text history__accordion-header-content">
            Новый заказ
          </span>
        </div>
      </div>
      <button class="btn-reset svg-btn accordion__trigger history__accordion-trigger" type="button" aria-label="Закрыть"
        aria-expanded="true">
        <svg>
          <use href="./images/sprite.svg#arrow-down"></use>
        </svg>
      </button>
      <div class="accordion__content history__accordion-content" aria-hidden="false">
        <ul class="list-reset history__accordion-content-list">
          <li class="history__accordion-content-item">
            <a class="img-link history__accordion-content-img-link" href="#">
              <picture>
                <source srcset="./images/cart-1.webp" type="image/webp">
                <img src="./images/cart-1.jpg" alt="Изображение товара" width="130" height="117">
              </picture>
            </a>
            <a class="text link history__accordion-content-title-link" href="#">
              Крем для тела Лифтинг-эффект, 270мл
            </a>
            <div class="history__accordion-content-amount-block">
              <span class="history__accordion-content-full-amount history__accordion-content-full-amount--1">
                500&nbsp;₽
              </span>
              <span class="history__accordion-content-amount">
                455&nbsp;₽
              </span>
            </div>
          </li>
          <li class="history__accordion-content-item">
            <a class="img-link history__accordion-content-img-link" href="#">
              <picture>
                <source srcset="./images/cart-2.webp" type="image/webp">
                <img src="./images/cart-2.jpg" alt="Изображение товара" width="130" height="117">
              </picture>
            </a>
            <a class="text link history__accordion-content-title-link" href="#">
              Скраб-маска антицеллюлитная Hot chocolate (Горячий шоколад), 180г
            </a>
            <div class="history__accordion-content-amount-block">
              <span class="history__accordion-content-full-amount history__accordion-content-full-amount--2"></span>
              <span class="history__accordion-content-amount">
                495&nbsp;₽
              </span>
            </div>
          </li>
          <li class="history__accordion-content-item">
            <a class="img-link history__accordion-content-img-link" href="#">
              <picture>
                <source srcset="./images/cart-3.webp" type="image/webp">
                <img src="./images/cart-3.jpg" alt="Изображение товара" width="130" height="117">
              </picture>
            </a>
            <a class="text link history__accordion-content-title-link" href="#">
              Шарик&nbsp;для&nbsp;ванн “Луговые травы”
            </a>
            <div class="history__accordion-content-amount-block">
              <span class="history__accordion-content-full-amount history__accordion-content-full-amount--3">
              </span>
              <span class="history__accordion-content-amount">
                740&nbsp;₽
              </span>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="accordion history__accordion">
      <div class="history__accordion-header">
        <div class="history__accordion-header-block history__accordion-header-block--date">
          <span class="history__accordion-header-title">
            Дата
          </span>
          <span class="text history__accordion-header-content">
            22.09.2023
          </span>
        </div>
        <div class="history__accordion-header-block history__accordion-header-block--number">
          <span class="history__accordion-header-title">
            Номер заказа
          </span>
          <span class="text history__accordion-header-content">
            12345678
          </span>
        </div>
        <div class="history__accordion-header-block history__accordion-header-block--amount">
          <span class="history__accordion-header-title">
            Сумма заказа
          </span>
          <span class="text history__accordion-header-content">
            1 690 ₽
          </span>
        </div>
        <div class="history__accordion-header-block history__accordion-header-block--status">
          <span class="history__accordion-header-title">
            Статус
          </span>
          <span class="text history__accordion-header-content">
            Оплачено
          </span>
        </div>
      </div>
      <button class="btn-reset svg-btn accordion__trigger history__accordion-trigger" type="button" aria-label="Открыть"
        aria-expanded="false">
        <svg>
          <use href="./images/sprite.svg#arrow-down"></use>
        </svg>
      </button>
      <div class="accordion__content history__accordion-content" aria-hidden="true">
        <ul class="list-reset history__accordion-content-list">
          <li class="history__accordion-content-item">
            <a class="img-link history__accordion-content-img-link" href="#">
              <picture>
                <source srcset="./images/cart-1.webp" type="image/webp">
                <img src="./images/cart-1.jpg" alt="Изображение товара" width="130" height="117">
              </picture>
            </a>
            <a class="text link history__accordion-content-title-link" href="#">
              Крем для тела Лифтинг-эффект, 270мл
            </a>
            <div class="history__accordion-content-amount-block">
              <span class="history__accordion-content-full-amount history__accordion-content-full-amount--1">
                500&nbsp;₽
              </span>
              <span class="history__accordion-content-amount">
                455&nbsp;₽
              </span>
            </div>
          </li>
          <li class="history__accordion-content-item">
            <a class="img-link history__accordion-content-img-link" href="#">
              <picture>
                <source srcset="./images/cart-2.webp" type="image/webp">
                <img src="./images/cart-2.jpg" alt="Изображение товара" width="130" height="117">
              </picture>
            </a>
            <a class="text link history__accordion-content-title-link" href="#">
              Скраб-маска антицеллюлитная Hot chocolate (Горячий шоколад), 180г
            </a>
            <div class="history__accordion-content-amount-block">
              <span class="history__accordion-content-full-amount history__accordion-content-full-amount--2"></span>
              <span class="history__accordion-content-amount">
                495&nbsp;₽
              </span>
            </div>
          </li>
          <li class="history__accordion-content-item">
            <a class="img-link history__accordion-content-img-link" href="#">
              <picture>
                <source srcset="./images/cart-3.webp" type="image/webp">
                <img src="./images/cart-3.jpg" alt="Изображение товара" width="130" height="117">
              </picture>
            </a>
            <a class="text link history__accordion-content-title-link" href="#">
              Шарик&nbsp;для&nbsp;ванн “Луговые травы”
            </a>
            <div class="history__accordion-content-amount-block">
              <span class="history__accordion-content-full-amount history__accordion-content-full-amount--3">
              </span>
              <span class="history__accordion-content-amount">
                740&nbsp;₽
              </span>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="accordion history__accordion">
      <div class="history__accordion-header">
        <div class="history__accordion-header-block history__accordion-header-block--date">
          <span class="history__accordion-header-title">
            Дата
          </span>
          <span class="text history__accordion-header-content">
            22.09.2023
          </span>
        </div>
        <div class="history__accordion-header-block history__accordion-header-block--number">
          <span class="history__accordion-header-title">
            Номер заказа
          </span>
          <span class="text history__accordion-header-content">
            12345678
          </span>
        </div>
        <div class="history__accordion-header-block history__accordion-header-block--amount">
          <span class="history__accordion-header-title">
            Сумма заказа
          </span>
          <span class="text history__accordion-header-content">
            1 690 ₽
          </span>
        </div>
        <div class="history__accordion-header-block history__accordion-header-block--status">
          <span class="history__accordion-header-title">
            Статус
          </span>
          <span class="text history__accordion-header-content">
            Оплачено
          </span>
        </div>
      </div>
      <button class="btn-reset svg-btn accordion__trigger history__accordion-trigger" type="button" aria-label="Открыть"
        aria-expanded="false">
        <svg>
          <use href="./images/sprite.svg#arrow-down"></use>
        </svg>
      </button>
      <div class="accordion__content history__accordion-content" aria-hidden="true">
        <ul class="list-reset history__accordion-content-list">
          <li class="history__accordion-content-item">
            <a class="img-link history__accordion-content-img-link" href="#">
              <picture>
                <source srcset="./images/cart-1.webp" type="image/webp">
                <img src="./images/cart-1.jpg" alt="Изображение товара" width="130" height="117">
              </picture>
            </a>
            <a class="text link history__accordion-content-title-link" href="#">
              Крем для тела Лифтинг-эффект, 270мл
            </a>
            <div class="history__accordion-content-amount-block">
              <span class="history__accordion-content-full-amount history__accordion-content-full-amount--1">
                500&nbsp;₽
              </span>
              <span class="history__accordion-content-amount">
                455&nbsp;₽
              </span>
            </div>
          </li>
          <li class="history__accordion-content-item">
            <a class="img-link history__accordion-content-img-link" href="#">
              <picture>
                <source srcset="./images/cart-2.webp" type="image/webp">
                <img src="./images/cart-2.jpg" alt="Изображение товара" width="130" height="117">
              </picture>
            </a>
            <a class="text link history__accordion-content-title-link" href="#">
              Скраб-маска антицеллюлитная Hot chocolate (Горячий шоколад), 180г
            </a>
            <div class="history__accordion-content-amount-block">
              <span class="history__accordion-content-full-amount history__accordion-content-full-amount--2"></span>
              <span class="history__accordion-content-amount">
                495&nbsp;₽
              </span>
            </div>
          </li>
          <li class="history__accordion-content-item">
            <a class="img-link history__accordion-content-img-link" href="#">
              <picture>
                <source srcset="./images/cart-3.webp" type="image/webp">
                <img src="./images/cart-3.jpg" alt="Изображение товара" width="130" height="117">
              </picture>
            </a>
            <a class="text link history__accordion-content-title-link" href="#">
              Шарик&nbsp;для&nbsp;ванн “Луговые травы”
            </a>
            <div class="history__accordion-content-amount-block">
              <span class="history__accordion-content-full-amount history__accordion-content-full-amount--3">
              </span>
              <span class="history__accordion-content-amount">
                740&nbsp;₽
              </span>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="accordion history__accordion">
      <div class="history__accordion-header">
        <div class="history__accordion-header-block history__accordion-header-block--date">
          <span class="history__accordion-header-title">
            Дата
          </span>
          <span class="text history__accordion-header-content">
            22.09.2023
          </span>
        </div>
        <div class="history__accordion-header-block history__accordion-header-block--number">
          <span class="history__accordion-header-title">
            Номер заказа
          </span>
          <span class="text history__accordion-header-content">
            12345678
          </span>
        </div>
        <div class="history__accordion-header-block history__accordion-header-block--amount">
          <span class="history__accordion-header-title">
            Сумма заказа
          </span>
          <span class="text history__accordion-header-content">
            1 690 ₽
          </span>
        </div>
        <div class="history__accordion-header-block history__accordion-header-block--status">
          <span class="history__accordion-header-title">
            Статус
          </span>
          <span class="text history__accordion-header-content">
            Оплачено
          </span>
        </div>
      </div>
      <button class="btn-reset svg-btn accordion__trigger history__accordion-trigger" type="button" aria-label="Открыть"
        aria-expanded="false">
        <svg>
          <use href="./images/sprite.svg#arrow-down"></use>
        </svg>
      </button>
      <div class="accordion__content history__accordion-content" aria-hidden="true">
        <ul class="list-reset history__accordion-content-list">
          <li class="history__accordion-content-item">
            <a class="img-link history__accordion-content-img-link" href="#">
              <picture>
                <source srcset="./images/cart-1.webp" type="image/webp">
                <img src="./images/cart-1.jpg" alt="Изображение товара" width="130" height="117">
              </picture>
            </a>
            <a class="text link history__accordion-content-title-link" href="#">
              Крем для тела Лифтинг-эффект, 270мл
            </a>
            <div class="history__accordion-content-amount-block">
              <span class="history__accordion-content-full-amount history__accordion-content-full-amount--1">
                500&nbsp;₽
              </span>
              <span class="history__accordion-content-amount">
                455&nbsp;₽
              </span>
            </div>
          </li>
          <li class="history__accordion-content-item">
            <a class="img-link history__accordion-content-img-link" href="#">
              <picture>
                <source srcset="./images/cart-2.webp" type="image/webp">
                <img src="./images/cart-2.jpg" alt="Изображение товара" width="130" height="117">
              </picture>
            </a>
            <a class="text link history__accordion-content-title-link" href="#">
              Скраб-маска антицеллюлитная Hot chocolate (Горячий шоколад), 180г
            </a>
            <div class="history__accordion-content-amount-block">
              <span class="history__accordion-content-full-amount history__accordion-content-full-amount--2"></span>
              <span class="history__accordion-content-amount">
                495&nbsp;₽
              </span>
            </div>
          </li>
          <li class="history__accordion-content-item">
            <a class="img-link history__accordion-content-img-link" href="#">
              <picture>
                <source srcset="./images/cart-3.webp" type="image/webp">
                <img src="./images/cart-3.jpg" alt="Изображение товара" width="130" height="117">
              </picture>
            </a>
            <a class="text link history__accordion-content-title-link" href="#">
              Шарик&nbsp;для&nbsp;ванн “Луговые травы”
            </a>
            <div class="history__accordion-content-amount-block">
              <span class="history__accordion-content-full-amount history__accordion-content-full-amount--3">
              </span>
              <span class="history__accordion-content-amount">
                740&nbsp;₽
              </span>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="accordion history__accordion">
      <div class="history__accordion-header">
        <div class="history__accordion-header-block history__accordion-header-block--date">
          <span class="history__accordion-header-title">
            Дата
          </span>
          <span class="text history__accordion-header-content">
            22.09.2023
          </span>
        </div>
        <div class="history__accordion-header-block history__accordion-header-block--number">
          <span class="history__accordion-header-title">
            Номер заказа
          </span>
          <span class="text history__accordion-header-content">
            12345678
          </span>
        </div>
        <div class="history__accordion-header-block history__accordion-header-block--amount">
          <span class="history__accordion-header-title">
            Сумма заказа
          </span>
          <span class="text history__accordion-header-content">
            1 690 ₽
          </span>
        </div>
        <div class="history__accordion-header-block history__accordion-header-block--status">
          <span class="history__accordion-header-title">
            Статус
          </span>
          <span class="text history__accordion-header-content">
            Оплачено
          </span>
        </div>
      </div>
      <button class="btn-reset svg-btn accordion__trigger history__accordion-trigger" type="button" aria-label="Открыть"
        aria-expanded="false">
        <svg>
          <use href="./images/sprite.svg#arrow-down"></use>
        </svg>
      </button>
      <div class="accordion__content history__accordion-content" aria-hidden="true">
        <ul class="list-reset history__accordion-content-list">
          <li class="history__accordion-content-item">
            <a class="img-link history__accordion-content-img-link" href="#">
              <picture>
                <source srcset="./images/cart-1.webp" type="image/webp">
                <img src="./images/cart-1.jpg" alt="Изображение товара" width="130" height="117">
              </picture>
            </a>
            <a class="text link history__accordion-content-title-link" href="#">
              Крем для тела Лифтинг-эффект, 270мл
            </a>
            <div class="history__accordion-content-amount-block">
              <span class="history__accordion-content-full-amount history__accordion-content-full-amount--1">
                500&nbsp;₽
              </span>
              <span class="history__accordion-content-amount">
                455&nbsp;₽
              </span>
            </div>
          </li>
          <li class="history__accordion-content-item">
            <a class="img-link history__accordion-content-img-link" href="#">
              <picture>
                <source srcset="./images/cart-2.webp" type="image/webp">
                <img src="./images/cart-2.jpg" alt="Изображение товара" width="130" height="117">
              </picture>
            </a>
            <a class="text link history__accordion-content-title-link" href="#">
              Скраб-маска антицеллюлитная Hot chocolate (Горячий шоколад), 180г
            </a>
            <div class="history__accordion-content-amount-block">
              <span class="history__accordion-content-full-amount history__accordion-content-full-amount--2"></span>
              <span class="history__accordion-content-amount">
                495&nbsp;₽
              </span>
            </div>
          </li>
          <li class="history__accordion-content-item">
            <a class="img-link history__accordion-content-img-link" href="#">
              <picture>
                <source srcset="./images/cart-3.webp" type="image/webp">
                <img src="./images/cart-3.jpg" alt="Изображение товара" width="130" height="117">
              </picture>
            </a>
            <a class="text link history__accordion-content-title-link" href="#">
              Шарик&nbsp;для&nbsp;ванн “Луговые травы”
            </a>
            <div class="history__accordion-content-amount-block">
              <span class="history__accordion-content-full-amount history__accordion-content-full-amount--3">
              </span>
              <span class="history__accordion-content-amount">
                740&nbsp;₽
              </span>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  @include('pagination.html')
</div>
