<section class="hits">
  <div class="container hits__container">
    <h2 class="second-title hits__title">
      Хиты продаж
    </h2>
  </div>
  <div class="container-fluid">
    <div class="swiper hits__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide hits__swiper-slide">
          <div class="card">
            <a class="card__img-link" href="#">
              <picture>
                <source srcset="./images/hits-1.webp" type="image/webp">
                <img class="card__img" src="./images/hits-1.jpg" alt="Фотография товара" width="285"
                  height="286" loading="lazy">
              </picture>
            </a>
            <div class="card__content">
              <a class="card__content-link" href="#">
                <h4 class="fourth-title card__content-title">
                  Крем для лица Гиалуроновый, 50мл
                </h4>
              </a>
              <div class="card__content-bottom">
                <span class="card__content-price">
                  480 ₽
                </span>
                <button class="btn-reset btn secondary-btn card__content-btn">
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide hits__swiper-slide">
          <div class="card">
            <a class="card__img-link" href="#">
              <picture>
                <source srcset="./images/hits-2.webp" type="image/webp">
                <img class="card__img" src="./images/hits-2.jpg" alt="Фотография товара" width="285"
                  height="286" loading="lazy">
              </picture>
            </a>
            <div class="card__content">
              <a class="card__content-link" href="#">
                <h4 class="fourth-title card__content-title">
                  Крем для тела Лифтинг-эффект, 270мл
                </h4>
              </a>
              <div class="card__content-bottom">
                <span class="card__content-price">
                  455 ₽
                </span>
                <button class="btn-reset btn secondary-btn card__content-btn">
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide hits__swiper-slide">
          <div class="card">
            <a class="card__img-link" href="#">
              <picture>
                <source srcset="./images/hits-3.webp" type="image/webp">
                <img class="card__img" src="./images/hits-3.jpg" alt="Фотография товара" width="285"
                  height="286" loading="lazy">
              </picture>
            </a>
            <div class="card__content">
              <a class="card__content-link" href="#">
                <h4 class="fourth-title card__content-title">
                  Скраб-маска антицеллюлитная Hot chocolate (Горячий шоколад), 180г
                </h4>
              </a>
              <div class="card__content-bottom">
                <span class="card__content-price">
                  495 ₽
                </span>
                <button class="btn-reset btn secondary-btn card__content-btn">
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide hits__swiper-slide">
          <div class="card">
            <a class="card__img-link" href="#">
              <picture>
                <source srcset="./images/hits-4.webp" type="image/webp">
                <img class="card__img" src="./images/hits-4.jpg" alt="Фотография товара" width="285"
                  height="286" loading="lazy">
              </picture>
            </a>
            <div class="card__content">
              <a class="card__content-link" href="#">
                <h4 class="fourth-title card__content-title">
                  Скраб масляный для тела АНАНАС и КОКОС, 300г
                </h4>
              </a>
              <div class="card__content-bottom">
                <span class="card__content-price">
                  595 ₽
                </span>
                <button class="btn-reset btn secondary-btn card__content-btn">
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide hits__swiper-slide">
          <div class="card">
            <a class="card__img-link" href="#">
              <picture>
                <source srcset="./images/hits-5.webp" type="image/webp">
                <img class="card__img" src="./images/hits-5.jpg" alt="Фотография товара" width="285"
                  height="286" loading="lazy">
              </picture>
            </a>
            <div class="card__content">
              <a class="card__content-link" href="#">
                <h4 class="fourth-title card__content-title">
                  Крем для кожи вокруг глаз с кофеином, 30 мл
                </h4>
              </a>
              <div class="card__content-bottom">
                <span class="card__content-price">
                  440 ₽
                </span>
                <button class="btn-reset btn secondary-btn card__content-btn">
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide hits__swiper-slide">
          <div class="card">
            <a class="card__img-link" href="#">
              <picture>
                <source srcset="./images/hits-1.webp" type="image/webp">
                <img class="card__img" src="./images/hits-1.jpg" alt="Фотография товара" width="285"
                  height="286" loading="lazy">
              </picture>
            </a>
            <div class="card__content">
              <a class="card__content-link" href="#">
                <h4 class="fourth-title card__content-title">
                  Крем для кожи вокруг глаз с кофеином, 30 мл
                </h4>
              </a>
              <div class="card__content-bottom">
                <span class="card__content-price">
                  440 ₽
                </span>
                <button class="btn-reset btn secondary-btn card__content-btn">
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
