<li class="header-top-nav-item">
  <a class="header-top-nav-link" href="./blog.html">
    Статьи
  </a>
</li>
<li class="header-top-nav-item">
  <a class="header-top-nav-link" href="./news.html">
    Новости
  </a>
</li>
<li class="header__nav-item header-top-nav-item">
  <button class="btn-reset header-top-nav-btn menu-btn-js" type="button">
    Для клиента
    <svg class="header__arrow-down">
      <use href="./images/sprite.svg#arrow-down"></use>
    </svg>
  </button>
  <ul class="list-reset header__submenu">
    <li class="header__submenu-item">
      <a class="header__submenu-link" href="./about-us.html">
        О нас
      </a>
    </li>
    <li class="header__submenu-item">
      <a href="#" class="header__submenu-link">
        Контакты
      </a>
    </li>
    <li class="header__submenu-item">
      <a href="#" class="header__submenu-link">
        Доставка и оплата
      </a>
    </li>
    <li class="header__submenu-item">
      <a class="header__submenu-link" href="./wholesale.html">
        Оптовикам
      </a>
    </li>
  </ul>
</li>
