<div class="mailing">
  <h2 class="second-title mailing__title">
    E-mail рассылка
  </h2>
  <div class="mailing__text">
    Хотите ли вы получать рассылку о новинках, акциях и новых поступлениях на ваш E-mail?
  </div>
  <form class="mailing__form">
    <div class="mailing__form-block">
      <label class="text radio-label">
        <input class="radio-input" type="radio" name="mailing" checked>
        <span class="radio-input-span"></span>
        Да
      </label>
      <label class="text radio-label">
        <input class="radio-input" type="radio" name="mailing">
        <span class="radio-input-span"></span>
        Нет
      </label>
    </div>
    <button class="btn-reset btn primary-btn mailing__form-btn" type="submit">
      Сохранить изменения
    </button>
  </form>
</div>
