<section class="new-products">
  <div class="container new-products__container">
    <h2 class="second-title new-products__title">
      Новинки
    </h2>
  </div>
  <div class="container-fluid">
    <div class="swiper new-products__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide new-products__swiper-slide">
          <div class="card">
            <a class="card__img-link" href="#">
              <span class="card__sticker">
                Новинка
              </span>
              <picture>
                <source srcset="./images/new-products-1.webp" type="image/webp">
                <img src="./images/new-products-1.jpg" alt="Фотография товара" width="285" height="286" loading="lazy">
              </picture>
            </a>
            <div class="card__content">
              <a class="card__content-link" href="#">
                <h4 class="fourth-title card__content-title">
                  Набор Ванильный эспрессо (уход за&nbsp;телом)
                </h4>
              </a>
              <div class="card__content-bottom">
                <span class="card__content-price">
                  740 ₽
                </span>
                <button class="btn-reset btn secondary-btn card__content-btn">
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide new-products__swiper-slide">
          <div class="card">
            <a class="card__img-link" href="#">
              <span class="card__sticker">
                Новинка
              </span>
              <picture>
                <source srcset="./images/new-products-2.webp" type="image/webp">
                <img src="./images/new-products-2.jpg" alt="Фотография товара" width="285" height="286" loading="lazy">
              </picture>
            </a>
            <div class="card__content">
              <a class="card__content-link" href="#">
                <h4 class="fourth-title card__content-title">
                  Набор Вишнёвый амаретто (уход за&nbsp;телом)
                </h4>
              </a>
              <div class="card__content-bottom">
                <span class="card__content-price">
                  740 ₽
                </span>
                <button class="btn-reset btn secondary-btn card__content-btn">
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide new-products__swiper-slide">
          <div class="card">
            <a class="card__img-link" href="#">
              <span class="card__sticker">
                Новинка
              </span>
              <picture>
                <source srcset="./images/new-products-3.webp" type="image/webp">
                <img src="./images/new-products-3.jpg" alt="Фотография товара" width="285" height="286" loading="lazy">
              </picture>
            </a>
            <div class="card__content">
              <a class="card__content-link" href="#">
                <h4 class="fourth-title card__content-title">
                  Набор Ванильный эспрессо (уход за&nbsp;телом)
                </h4>
              </a>
              <div class="card__content-bottom">
                <span class="card__content-price">
                  740 ₽
                </span>
                <button class="btn-reset btn secondary-btn card__content-btn">
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide new-products__swiper-slide">
          <div class="card">
            <a class="card__img-link" href="#">
              <span class="card__sticker">
                Новинка
              </span>
              <picture>
                <source srcset="./images/new-products-4.webp" type="image/webp">
                <img src="./images/new-products-4.jpg" alt="Фотография товара" width="285" height="286" loading="lazy">
              </picture>
            </a>
            <div class="card__content">
              <a class="card__content-link" href="#">
                <h4 class="fourth-title card__content-title">
                  Спа-набор Сияющая соль
                </h4>
              </a>
              <div class="card__content-bottom">
                <span class="card__content-price">
                  740 ₽
                </span>
                <button class="btn-reset btn secondary-btn card__content-btn">
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide new-products__swiper-slide">
          <div class="card">
            <a class="card__img-link" href="#">
              <span class="card__sticker">
                Новинка
              </span>
              <picture>
                <source srcset="./images/new-products-5.webp" type="image/webp">
                <img src="./images/new-products-5.jpg" alt="Фотография товара" width="285" height="286" loading="lazy">
              </picture>
            </a>
            <div class="card__content">
              <a class="card__content-link" href="#">
                <h4 class="fourth-title card__content-title">
                  Набор Ванильный эспрессо (уход за&nbsp;телом)
                </h4>
              </a>
              <div class="card__content-bottom">
                <span class="card__content-price">
                  740 ₽
                </span>
                <button class="btn-reset btn secondary-btn card__content-btn">
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide new-products__swiper-slide">
          <div class="card">
            <a class="card__img-link" href="#">
              <span class="card__sticker">
                Новинка
              </span>
              <picture>
                <source srcset="./images/new-products-1.webp" type="image/webp">
                <img src="./images/new-products-1.jpg" alt="Фотография товара" width="285" height="286" loading="lazy">
              </picture>
            </a>
            <div class="card__content">
              <a class="card__content-link" href="#">
                <h4 class="fourth-title card__content-title">
                  Набор Ванильный эспрессо (уход за&nbsp;телом)
                </h4>
              </a>
              <div class="card__content-bottom">
                <span class="card__content-price">
                  740 ₽
                </span>
                <button class="btn-reset btn secondary-btn card__content-btn">
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
