<section class="new-offers catalog">
  <div class="container new-offers__container">
    <h2 class="second-title catalog__title new-offers__title">
      Новинки
    </h2>
    <div class="catalog__products">
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker">
            Новинка
          </span>
          <picture>
            <source srcset="./images/catalog-1.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-1.jpg" alt="Фотография товара" width="285" height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Набор бурлящих шариков Елочка большая
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker">
            Новинка
          </span>
          <picture>
            <source srcset="./images/catalog-2.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-2.jpg" alt="Фотография товара" width="285" height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Набор бурлящих шариков Ёлочка маленькая
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker">
            Новинка
          </span>
          <picture>
            <source srcset="./images/catalog-3.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-3.jpg" alt="Фотография товара" width="285" height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Сердечко соляное для ванны Сладкий лимон
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker">
            Новинка
          </span>
          <picture>
            <source srcset="./images/catalog-4.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-4.jpg" alt="Фотография товара" width="285" height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Сердечко соляное для&nbsp;ванны с&nbsp;солью Лемонграсс
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker">
            Новинка
          </span>
          <picture>
            <source srcset="./images/catalog-5.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-5.jpg" alt="Фотография товара" width="285" height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="./card.html">
          Набор BATH BOMB (Набор бурлящих шариков ВИШНЯ-ЧЕРНАЯ СМОРОДИНА-ВИНОГРАД), 3шт.
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker">
            Новинка
          </span>
          <picture>
            <source srcset="./images/catalog-6.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-6.jpg" alt="Фотография товара" width="285" height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Набор BATH BOMB (Набор бурлящих шариков МАРАКУЙЯ-БАНАН-ДЫНЯ), 3шт.
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker">
            Новинка
          </span>
          <picture>
            <source srcset="./images/catalog-7.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-7.jpg" alt="Фотография товара" width="285" height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Набор BATH BOMB (Набор бурлящих шариков ИРИСКА-КОКОС-КОФЕ), 3шт.
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker">
            Новинка
          </span>
          <picture>
            <source srcset="./images/catalog-8.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-8.jpg" alt="Фотография товара" width="285" height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Набор BATH BOMB (Набор бурлящих шариков ЯБЛОКО/КОРИЦА-МАЛИНА-МОРСКИЕ ВОДОРОСЛИ), 3шт.
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker">
            Новинка
          </span>
          <picture>
            <source srcset="./images/catalog-9.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-9.jpg" alt="Фотография товара" loading="lazy" width="285"
              height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Шарик для ванн “Персик”
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker">
            Новинка
          </span>
          <picture>
            <source srcset="./images/catalog-10.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-10.jpg" alt="Фотография товара" loading="lazy" width="285"
              height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Шарик для ванн “Луговые травы”
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker">
            Новинка
          </span>
          <picture>
            <source srcset="./images/catalog-11.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-11.jpg" alt="Фотография товара" loading="lazy" width="285"
              height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Шарик для ванн “Виноград”
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker">
            Новинка
          </span>
          <picture>
            <source srcset="./images/catalog-12.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-12.jpg" alt="Фотография товара" loading="lazy" width="285"
              height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Шарик для ванн “Морские водоросли”
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
    </div>
    @include('pagination.html')
  </div>
</section>
