<section class="news">
  <div class="container news__container">
    <h2 class="second-title news__title">
      Наши новости
    </h2>
    <div class="news__img-block">
      <picture>
        <source media="(max-width:470px)" srcset="./images/news-470.webp" type="image/webp">
        <source media="(max-width:470px)" srcset="./images/news-470.jpg">
        <source media="(max-width:758px)" srcset="./images/news-758.webp" type="image/webp">
        <source media="(max-width:758px)" srcset="./images/news-758.jpg">
        <source media="(max-width:990px)" srcset="./images/news-990.webp" type="image/webp">
        <source media="(max-width:990px)" srcset="./images/news-990.jpg">
        <source media="(max-width:1230px)" srcset="./images/news-1230.webp" type="image/webp">
        <source media="(max-width:1230px)" srcset="./images/news-1230.jpg">
        <source srcset="./images/news-1920.webp" type="image/webp">
        <img src="./images/news-1920.jpg" alt="Savonry" width="1200" height="285">
      </picture>
    </div>
    <div class="news__block">
      <h3 class="third-title news__block-title">
        Скидки
      </h3>
      <ul class="list-reset news__block-list">
        <li class="text news__block-item">
          скидка 30% на: шарик для ванны Клюква, шарик для ванны Липа, все косметическое молочко
        </li>
        <li class="text news__block-item">
          скидка 500 рублей на первую покупку! Просто подпишитесь на наши новости и получите промо-код на электронную
          почту. Подписка дает преимущества: вы первыми узнаете о наших новинках, распродажах, получаете секретные
          промо-коды.
        </li>
      </ul>
      <a class="link news__block-link" href="#">
        Перейти в раздел акции
      </a>
    </div>
    <div class="news__block">
      <h3 class="third-title news__block-title">
        Конкурс
      </h3>
      <ul class="list-reset news__block-list">
        <li class="text news__block-item">
          Каждую неделю в нашем Instagram
          <a class="link news__block-link-inst" href="#">
            @savonry.beauty
          </a>
           мы разыгрываем наборы средств! Дарим Вам за активность!
        </li>
      </ul>
    </div>
    <div class="news__block">
      <h3 class="third-title news__block-title">
        Доставка
      </h3>
      <ul class="list-reset news__block-list">
        <li class="text news__block-item">
          Бесплатная доставка от 1500 рублей по Санкт-Петербургу и от 2500 рублей по РФ.
        </li>
      </ul>
    </div>
  </div>
</section>
