<section class="offers">
  <div class="container offers__container">
    <h2 class="second-title offers__title">
      Вам будет интересно
    </h2>
  </div>
  <div class="container-fluid offers__container-fluid">
    <div class="swiper offers__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide offers__swiper-slide">
          <div class="card">
            <a class="card__img-link" href="#">
              <picture>
                <source srcset="./images/offers-1.webp" type="image/webp">
                <img class="card__img" src="./images/offers-1.jpg" alt="Фотография товара" width="285" height="286"
                  loading="lazy">
              </picture>
            </a>
            <div class="card__content">
              <a class="card__content-link" href="#">
                Крем для лица Гиалуроновый, 50мл
              </a>
              <div class="card__content-bottom">
                <span class="card__content-price">
                  480 ₽
                </span>
                <button class="btn-reset btn secondary-btn card__content-btn">
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide offers__swiper-slide">
          <div class="card">
            <a class="card__img-link" href="#">
              <picture>
                <source srcset="./images/offers-2.webp" type="image/webp">
                <img class="card__img" src="./images/offers-2.jpg" alt="Фотография товара" width="285" height="286"
                  loading="lazy">
              </picture>
            </a>
            <div class="card__content">
              <a class="card__content-link" href="#">
                Крем для тела Лифтинг-эффект, 270мл
              </a>
              <div class="card__content-bottom">
                <span class="card__content-price">
                  455 ₽
                </span>
                <button class="btn-reset btn secondary-btn card__content-btn">
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide offers__swiper-slide">
          <div class="card">
            <a class="card__img-link" href="#">
              <picture>
                <source srcset="./images/offers-3.webp" type="image/webp">
                <img class="card__img" src="./images/offers-3.jpg" alt="Фотография товара" width="285" height="286"
                  loading="lazy">
              </picture>
            </a>
            <div class="card__content">
              <a class="card__content-link" href="#">
                Скраб-маска антицеллюлитная Hot chocolate (Горячий шоколад), 180г
              </a>
              <div class="card__content-bottom">
                <span class="card__content-price">
                  495 ₽
                </span>
                <button class="btn-reset btn secondary-btn card__content-btn">
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide offers__swiper-slide">
          <div class="card">
            <a class="card__img-link" href="#">
              <picture>
                <source srcset="./images/offers-4.webp" type="image/webp">
                <img class="card__img" src="./images/offers-4.jpg" alt="Фотография товара" width="285" height="286"
                  loading="lazy">
              </picture>
            </a>
            <div class="card__content">
              <a class="card__content-link" href="#">
                Скраб масляный для тела АНАНАС и КОКОС, 300г
              </a>
              <div class="card__content-bottom">
                <span class="card__content-price">
                  595 ₽
                </span>
                <button class="btn-reset btn secondary-btn card__content-btn">
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide offers__swiper-slide">
          <div class="card">
            <a class="card__img-link" href="#">
              <picture>
                <source srcset="./images/offers-5.webp" type="image/webp">
                <img class="card__img" src="./images/offers-5.jpg" alt="Фотография товара" width="285" height="286"
                  loading="lazy">
              </picture>
            </a>
            <div class="card__content">
              <a class="card__content-link" href="#">
                Крем для кожи вокруг глаз с кофеином, 30 мл
              </a>
              <div class="card__content-bottom">
                <span class="card__content-price">
                  440 ₽
                </span>
                <button class="btn-reset btn secondary-btn card__content-btn">
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
