<div class="pagination">
  <button class="btn-reset svg-btn pagination__arrow pagination__arrow--prev" type="button">
    <svg>
      <use href="./images/sprite.svg#arrow-prev"></use>
    </svg>
  </button>
  <ul class="list-reset pagination__list">
    <li class="pagination__item">
      <button class="btn-reset btn secondary-btn pagination__btn pagination__btn--active" type="button">
        1
      </button>
    </li>
    <li class="pagination__item">
      <button class="btn-reset btn secondary-btn pagination__btn" type="button">
        2
      </button>
    </li>
    <li class="pagination__item">
      <button class="btn-reset btn secondary-btn pagination__btn" type="button">
        3
      </button>
    </li>
  </ul>
  <span class="pagination__ellipsis">
    ...
  </span>
  <button class="btn-reset svg-btn pagination__arrow pagination__arrow--next" type="button">
    <svg>
      <use href="./images/sprite.svg#arrow-next"></use>
    </svg>
  </button>
</div>
