<div class="password">
  <h2 class="second-title password__title">
    Смена пароля
  </h2>
  <form class="password__form">
    <label class="password__label">
      <input class="input password__form-input" type="password" placeholder="Старый пароль">
    </label>
    <label class="password__label">
      <input class="input password__form-input" type="password" placeholder="Новый пароль">
    </label>
    <label class="password__label">
      <input class="input password__form-input" type="password" placeholder="Повторите новый пароль">
    </label>
    <button class="btn-reset btn primary-btn password__form-btn" type="submit">
      Сохранить изменения
    </button>
  </form>
</div>
