<section class="principles">
  <div class="container principles__container">
    <h2 class="second-title principles__title">
      Наши принципы
    </h2>
    <div class="principles__block">
      <div class="principles__img-block">
        <picture>
          <source media="(max-width:470px)" srcset="./images/principles-1-470.webp" type="image/webp">
          <source media="(max-width:470px)" srcset="./images/principles-1-470.jpg">
          <source media="(max-width:758px)" srcset="./images/principles-1-758.webp" type="image/webp">
          <source media="(max-width:758px)" srcset="./images/principles-1-758.jpg">
          <source media="(max-width:990px)" srcset="./images/principles-1-990.webp" type="image/webp">
          <source media="(max-width:990px)" srcset="./images/principles-1-990.jpg">
          <source srcset="./images/principles-1-1920.webp" type="image/webp">
          <img src="./images/principles-1-1920.jpg" alt="Косметика Savonry" width="386" height="386">
        </picture>
      </div>
      <div class="principles__content">
        <p class="subhead principles-paragraph">
          Мы делаем все возможное, чтобы гарантировать, что каждый продукт, который мы разрабатываем, соответствует
          строгим стандартам безопасности, эффективности и стабильности.
        </p>
        <p class="subhead principles-paragraph">
          Мы используем современные активные ингредиенты, такие как эмоленты, комплексы с кислотами, витаминные активы и
          другие.
        </p>
      </div>
    </div>
    <div class="principles__block">
      <div class="principles__img-block">
        <picture>
          <source media="(max-width:470px)" srcset="./images/principles-2-470.webp" type="image/webp">
          <source media="(max-width:470px)" srcset="./images/principles-2-470.jpg">
          <source media="(max-width:758px)" srcset="./images/principles-2-758.webp" type="image/webp">
          <source media="(max-width:758px)" srcset="./images/principles-2-758.jpg">
          <source media="(max-width:990px)" srcset="./images/principles-2-990.webp" type="image/webp">
          <source media="(max-width:990px)" srcset="./images/principles-2-990.jpg">
          <source srcset="./images/principles-2-1920.webp" type="image/webp">
          <img src="./images/principles-2-1920.jpg" alt="Крем Savonry" width="386" height="386">
        </picture>
      </div>
      <div class="principles__content">
        <p class="subhead principles-paragraph">
          Мы тестируем каждый продукт на всех этапах производства, чтобы убедиться, что он соответствует стандартам
          качества.
        </p>
        <p class="subhead principles-paragraph">
          Проверяем уровень pH, термо- и коллоидную стабильность, используем метод ускоренного старения, тестируем
          взаимодействие тары и продукта.
        </p>
        <p class="subhead principles-paragraph">
          Готовые продукты тестируем на добровольной фокус-группе.
        </p>
      </div>
    </div>
    <div class="principles__block">
      <div class="principles__img-block">
        <picture>
          <source media="(max-width:470px)" srcset="./images/principles-3-470.webp" type="image/webp">
          <source media="(max-width:470px)" srcset="./images/principles-3-470.jpg">
          <source media="(max-width:758px)" srcset="./images/principles-3-758.webp" type="image/webp">
          <source media="(max-width:758px)" srcset="./images/principles-3-758.jpg">
          <source media="(max-width:990px)" srcset="./images/principles-3-990.webp" type="image/webp">
          <source media="(max-width:990px)" srcset="./images/principles-3-990.jpg">
          <source srcset="./images/principles-3-1920.webp" type="image/webp">
          <img src="./images/principles-3-1920.jpg" alt="Упаковка Savonry" width="386" height="386">
        </picture>
      </div>
      <div class="principles__content">
        <p class="subhead principles-paragraph">
          Мы внимательно относимся к составу упаковки: используем только экологичные материалы и упаковку, которую можно
          сдать на вторичную переработку.
        </p>
        <p class="subhead principles-paragraph">
          При тестировании взаимодействия продукции и тары друг с другом, мы учитываем множество факторов воздействия:
          начиная от безопасности, заканчивая возможностью вторичной переработки.
        </p>
      </div>
    </div>
    <div class="principles__block">
      <div class="principles__img-block">
        <picture>
          <!-- <source media="(max-width:470px)" srcset="./images/principles-4-470.webp" type="image/webp">
          <source media="(max-width:470px)" srcset="./images/principles-4-470.jpg"> -->
          <source media="(max-width:758px)" srcset="./images/principles-4-758.webp" type="image/webp">
          <source media="(max-width:758px)" srcset="./images/principles-4-758.jpg">
          <source media="(max-width:990px)" srcset="./images/principles-4-990.webp" type="image/webp">
          <source media="(max-width:990px)" srcset="./images/principles-4-990.jpg">
          <source srcset="./images/principles-4-1920.webp" type="image/webp">
          <img src="./images/principles-4-1920.jpg" alt="Ингредиенты Savonry" width="386" height="386">
        </picture>
      </div>
      <div class="principles__content">
        <p class="subhead principles-paragraph">
          Точно так же, как мы уделяем большое внимание процессу оценки ингредиентов, рецептуры, мы тщательно отбираем
          поставщиков сырья и упаковки, следим чтобы их продукция соответствовала нашим стандартам качества.
        </p>
        <p class="subhead principles-paragraph">
          Все сырье проходит жесткий входной контроль на соответствие паспортным данным и стандартам.
        </p>
      </div>
    </div>
    <div class="principles__block">
      <div class="principles__img-block">
        <picture>
          <source media="(max-width:470px)" srcset="./images/principles-5-470.webp" type="image/webp">
          <source media="(max-width:470px)" srcset="./images/principles-5-470.jpg">
          <source media="(max-width:758px)" srcset="./images/principles-5-758.webp" type="image/webp">
          <source media="(max-width:758px)" srcset="./images/principles-5-758.jpg">
          <source media="(max-width:990px)" srcset="./images/principles-5-990.webp" type="image/webp">
          <source media="(max-width:990px)" srcset="./images/principles-5-990.jpg">
          <source srcset="./images/principles-5-1920.webp" type="image/webp">
          <img src="./images/principles-5-1920.jpg" alt="Косметика Savonry" width="386" height="386">
        </picture>
      </div>
      <div class="principles__content">
        <p class="subhead principles-paragraph">
          Мы хотим, чтобы наши клиенты точно знали, что входит в состав наших продуктов.
        </p>
        <p class="subhead principles-paragraph">
          Для этого мы последовательно перечисляем ингредиенты в соответствии с установленными стандартами, и не
          используем общих фраз.
        </p>
      </div>
    </div>
  </div>
</section>
