<section class="product-card">
  <div class="container product-card__container">
    <div class="product-card__img-block">
      <div class="swiper product-card__swiper">
        <div class="swiper-wrapper">
          <div class="img-link swiper-slide product-card__slide" tabindex="0">
            <picture>
              <source srcset="./images/product-card-1.webp" type="image/webp">
              <img src="./images/product-card-1.jpg" alt="Набор бурлящих шариков для ванн" width="488" height="488">
            </picture>
          </div>
          <div class="img-link swiper-slide product-card__slide" tabindex="0">
            <picture>
              <source srcset="./images/product-card-2.webp" type="image/webp">
              <img src="./images/product-card-2.jpg" alt="Набор бурлящих шариков для ванн" width="488" height="488"
                loading="lazy">
            </picture>
          </div>
          <div class="img-link swiper-slide product-card__slide" tabindex="0">
            <picture>
              <source srcset="./images/product-card-3.webp" type="image/webp">
              <img src="./images/product-card-3.jpg" alt="Набор бурлящих шариков для ванн" width="488" height="488"
                loading="lazy">
            </picture>
          </div>
          <div class="img-link swiper-slide product-card__slide" tabindex="0">
            <picture>
              <source srcset="./images/product-card-1.webp" type="image/webp">
              <img src="./images/product-card-1.jpg" alt="Набор бурлящих шариков для ванн" width="488" height="488"
                loading="lazy">
            </picture>
          </div>
          <div class="img-link swiper-slide product-card__slide" tabindex="0">
            <picture>
              <source srcset="./images/product-card-2.webp" type="image/webp">
              <img src="./images/product-card-2.jpg" alt="Набор бурлящих шариков для ванн" width="488" height="488"
                loading="lazy">
            </picture>
          </div>
          <div class="img-link swiper-slide product-card__slide" tabindex="0">
            <picture>
              <source srcset="./images/product-card-3.webp" type="image/webp">
              <img src="./images/product-card-3.jpg" alt="Набор бурлящих шариков для ванн" width="488" height="488"
                loading="lazy">
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper product-card__swiper-gallery">
        <div class="swiper-wrapper">
          <div class="swiper-slide product-card__slide">
            <picture>
              <source srcset="./images/product-card-sm-1.webp" type="image/webp">
              <img src="./images/product-card-sm-1.jpg" alt="Набор бурлящих шариков для ванн" width="120" height="120">
            </picture>
          </div>
          <div class="swiper-slide product-card__slide">
            <picture>
              <source srcset="./images/product-card-sm-2.webp" type="image/webp">
              <img src="./images/product-card-sm-2.jpg" alt="Набор бурлящих шариков для ванн" width="120" height="120">
            </picture>
          </div>
          <div class="swiper-slide product-card__slide">
            <picture>
              <source srcset="./images/product-card-sm-3.webp" type="image/webp">
              <img src="./images/product-card-sm-3.jpg" alt="Набор бурлящих шариков для ванн" width="120" height="120">
            </picture>
          </div>
          <div class="swiper-slide product-card__slide">
            <picture>
              <source srcset="./images/product-card-sm-1.webp" type="image/webp">
              <img src="./images/product-card-sm-1.jpg" alt="Набор бурлящих шариков для ванн" width="120" height="120">
            </picture>
          </div>
          <div class="swiper-slide product-card__slide">
            <picture>
              <source srcset="./images/product-card-sm-2.webp" type="image/webp">
              <img src="./images/product-card-sm-2.jpg" alt="Набор бурлящих шариков для ванн" width="120" height="120">
            </picture>
          </div>
          <div class="swiper-slide product-card__slide">
            <picture>
              <source srcset="./images/product-card-sm-3.webp" type="image/webp">
              <img src="./images/product-card-sm-3.jpg" alt="Набор бурлящих шариков для ванн" width="120" height="120">
            </picture>
          </div>
        </div>
        <button class="btn-reset swiper-button-prev product-card__swiper-button-prev" type="button">
          <svg>
            <use href="./images/sprite.svg#arrow-prev"></use>
          </svg>
        </button>
        <button class="btn-reset swiper-button-next product-card__swiper-button-next" type="button">
          <svg>
            <use href="./images/sprite.svg#arrow-next"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="product-card__content">
      <div class="product-card__content-block product-card__content-top">
        <span class="product-card__content-article">
          Артикул: 4373
        </span>
        <h3 class="third-title product-card__content-title">
          Набор BATH BOMB (Набор бурлящих шариков ВИШНЯ-ЧЕРНАЯ СМОРОДИНА-ВИНОГРАД), 3шт.
        </h3>
        <span class="text product-card__content-volume">
          Объём: 500 г
        </span>
        <div class="product-card__content-rating">
          <span class="text product-card__content-rating-subhead">
            Оценка:
          </span>
          <svg>
            <use href="./images/sprite.svg#star"></use>
          </svg>
          <span class="product-card__content-rating-estimation">
            4.7
          </span>
          <a class="link product-card__content-rating-link" href="#reviews">
            12 отзывов
          </a>
        </div>
        <div class="product-card__content-text">
          <p class="text product-card__content-paragraph">
            Прекрасный вариант яркого и ароматного подарка!
          </p>
          <p class="text product-card__content-paragraph">
            3 бомбочки - 3 расслабляющих SPA-процедуры
          </p>
        </div>
      </div>
      <ul class="list-reset product-card__content-block">
        <li class="accordion accordion--active product-card__accordion">
          <div class="product-card__accordion-header">
            <span class="product-card__accordion-subhead">
              Подробнее
            </span>
            <button class="btn-reset svg-btn accordion__trigger product-card__accordion-trigger" aria-expanded="true"
              type="button" aria-label="Закрыть">
              <svg>
                <use href="./images/sprite.svg#arrow-down"></use>
              </svg>
            </button>
          </div>
          <div class="accordion__content product-card__accordion-content" aria-hidden="false">
            <p class="text product-card__accordion-paragraph">
              Набор включает в себя ассорти из 3 шариков ручной работы:
            </p>
            <p class="text product-card__accordion-paragraph">
              Шарик для ванн CHERRY (с пеной и экстрактом вишни), 145 г
            </p>
            <p class="text product-card__accordion-paragraph">
              Шарик для ванн BLACK CURRANT (с маслами и экстрактом черной смородины), 145 г
            </p>
            <p class="text product-card__accordion-paragraph">
              Шарик для ванн GRAPE (с экстрактом винограда), 145 г
            </p>
          </div>
        </li>
        <li class="accordion product-card__accordion">
          <div class="product-card__accordion-header">
            <span class="product-card__accordion-subhead">
              Состав
            </span>
            <button class="btn-reset svg-btn accordion__trigger product-card__accordion-trigger" aria-expanded="false"
              type="button" aria-label="Открыть">
              <svg>
                <use href="./images/sprite.svg#arrow-down"></use>
              </svg>
            </button>
          </div>
          <div class="accordion__content product-card__accordion-content" aria-hidden="true">
            <p class="text product-card__accordion-paragraph">
              INCI: Maris Salt (морская соль), Sodium Вicarbonate (сода пищевая), Citric Acid (лимонная кислота), Cocos
              Nucifera (Coconut) Oil (масло кокоса), Butyrospermum Parkii (Shea Butter) Oil (масло ши), Olea Europaea
              (Olive) Oil (масло оливковое), Ribes Nigrum (Black Currant) Fruit Extract (экстракт черной смородины),
              Parfum.
            </p>
          </div>
        </li>
      </ul>
      <div class="product-card__content-block">
        <span class="product-card__content-amount">
          495&nbsp;₽
        </span>
        <span class="text product-card__content-full-amount">
          600&nbsp;₽
        </span>
      </div>
      <div class="product-card__content-block product-card__bottom">
        <div class="product-card__content-quantity-block">
          <input class="input product-card__content-quantity" type="text" value="1"
            aria-label="Введите количество товара">
          <button class="btn-reset product-card__content-count product-card__content-count--minus" type="button"
            aria-label="Уменьшить количество на единицу">
            <svg>
              <use href="./images/sprite.svg#minus"></use>
            </svg>
          </button>
          <button class="btn-reset product-card__content-count product-card__content-count--plus" type="button"
            aria-label="Увеличить количество на единицу">
            <svg>
              <use href="./images/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
        <button class="btn-reset btn primary-btn product-card__content-btn" type="button">
          В корзину
        </button>
      </div>
    </div>
  </div>
</section>
