<div class="profile">
  <h2 class="second-title profile__title">
    Мой профиль
  </h2>
  <form class="profile__form">
    <label class="profile__label">
      <input class="input profile__form-input" type="text" placeholder="Имя">
    </label>
    <label class="profile__label">
      <input class="input profile__form-input" type="text" placeholder="Фамилия">
    </label>
    <label class="profile__label">
      <input class="input profile__form-input" type="email" placeholder="E-mail">
    </label>
    <label class="profile__label">
      <input class="input profile__form-input" type="tel" placeholder="+ 7 (999) 999-99-99">
    </label>
    <label class="profile__label">
      <input class="input profile__form-input" type="text" placeholder="Адрес">
    </label>
    <label class="profile__label">
      <input class="input profile__form-input" type="text" placeholder="Страна">
    </label>
    <label class="profile__label">
      <input class="input profile__form-input" type="text" placeholder="Город">
    </label>
    <button class="btn-reset btn primary-btn profile__form-btn" type="submit">
      Сохранить изменения
    </button>
  </form>
</div>
