<section class="promotion catalog">
  <div class="container promotion__container">
    <h2 class="second-title promotion__title">
      Акции
    </h2>
    <div class="promotion__links">
      <a class="img-link promotion__link" href="#">
        <picture>
          <source srcset="./images/promotion-link-1.webp" type="image/webp">
          <img src="./images/promotion-link-1.jpg" alt="Скидка 10%" width="387" height="387">
        </picture>
      </a>
      <a class="img-link promotion__link" href="#">
        <picture>
          <source srcset="./images/promotion-link-2.webp" type="image/webp">
          <img src="./images/promotion-link-2.jpg" alt="Скидка 30%" width="387" height="387">
        </picture>
      </a>
      <a class="img-link promotion__link" href="#">
        <picture>
          <source srcset="./images/promotion-link-3.webp" type="image/webp">
          <img src="./images/promotion-link-3.jpg" alt="Скидка 50%" width="387" height="387">
        </picture>
      </a>
    </div>
    <div class="catalog__products">
      <div class="card catalog__products-card promotion__card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker promotion__sticker">
            -25 %
          </span>
          <picture>
            <source srcset="./images/promotion-1.webp" type="image/webp">
            <img class="card__img" src="./images/promotion-1.jpg" alt="Фотография товара" width="285" height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Набор Ванильный эспрессо (уход за&nbsp;телом)
        </a>
        <div class="card__content-bottom">
          <div class="promotion__amount-block">
            <span class="promotion__amount">
              555&nbsp;₽
            </span>
            <span class="promotion__full-amount">
              740&nbsp;₽
            </span>
          </div>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn promotion__btn"
            type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card promotion__card promotion__card--2">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker promotion__sticker">
            -45 %
          </span>
          <picture>
            <source srcset="./images/promotion-2.webp" type="image/webp">
            <img class="card__img" src="./images/promotion-2.jpg" alt="Фотография товара" width="285" height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Лосьон антибактериальный для рук, 100мл
        </a>
        <div class="card__content-bottom">
          <div class="promotion__amount-block">
            <span class="promotion__amount">
              100&nbsp;₽
            </span>
            <span class="promotion__full-amount">
              185&nbsp;₽
            </span>
          </div>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn promotion__btn"
            type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card promotion__card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker promotion__sticker">
            -30 %
          </span>
          <picture>
            <source srcset="./images/promotion-3.webp" type="image/webp">
            <img class="card__img" src="./images/promotion-3.jpg" alt="Фотография товара" width="285" height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Гель для душа ФРАНЖИПАНИ, 500мл
        </a>
        <div class="card__content-bottom">
          <div class="promotion__amount-block">
            <span class="promotion__amount">
              610&nbsp;₽
            </span>
            <span class="promotion__full-amount">
              793&nbsp;₽
            </span>
          </div>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn promotion__btn"
            type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card promotion__card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker promotion__sticker">
            -37 %
          </span>
          <picture>
            <source srcset="./images/promotion-4.webp" type="image/webp">
            <img class="card__img" src="./images/promotion-4.jpg" alt="Фотография товара" width="285" height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Гель антибактериальный для рук, 50мл
        </a>
        <div class="card__content-bottom">
          <div class="promotion__amount-block">
            <span class="promotion__amount">
              100&nbsp;₽
            </span>
            <span class="promotion__full-amount">
              160&nbsp;₽
            </span>
          </div>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn promotion__btn"
            type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card promotion__card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker promotion__sticker">
            -30 %
          </span>
          <picture>
            <source srcset="./images/promotion-3.webp" type="image/webp">
            <img class="card__img" src="./images/promotion-3.jpg" alt="Фотография товара" loading="lazy" width="285"
              height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Гель для душа ФРАНЖИПАНИ, 500мл
        </a>
        <div class="card__content-bottom">
          <div class="promotion__amount-block">
            <span class="promotion__amount">
              610&nbsp;₽
            </span>
            <span class="promotion__full-amount">
              793&nbsp;₽
            </span>
          </div>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn promotion__btn"
            type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card promotion__card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker promotion__sticker">
            -25 %
          </span>
          <picture>
            <source srcset="./images/promotion-1.webp" type="image/webp">
            <img class="card__img" src="./images/promotion-1.jpg" alt="Фотография товара" loading="lazy" width="285"
              height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Набор Ванильный эспрессо (уход за&nbsp;телом)
        </a>
        <div class="card__content-bottom">
          <div class="promotion__amount-block">
            <span class="promotion__amount">
              555&nbsp;₽
            </span>
            <span class="promotion__full-amount">
              740&nbsp;₽
            </span>
          </div>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn promotion__btn"
            type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card promotion__card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker promotion__sticker">
            -37 %
          </span>
          <picture>
            <source srcset="./images/promotion-4.webp" type="image/webp">
            <img class="card__img" src="./images/promotion-4.jpg" alt="Фотография товара" loading="lazy" width="285"
              height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Гель антибактериальный для рук, 50мл
        </a>
        <div class="card__content-bottom">
          <div class="promotion__amount-block">
            <span class="promotion__amount">
              100&nbsp;₽
            </span>
            <span class="promotion__full-amount">
              160&nbsp;₽
            </span>
          </div>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn promotion__btn"
            type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card promotion__card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker promotion__sticker">
            -45 %
          </span>
          <picture>
            <source srcset="./images/promotion-2.webp" type="image/webp">
            <img class="card__img" src="./images/promotion-2.jpg" alt="Фотография товара" loading="lazy" width="285"
              height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Лосьон антибактериальный для рук, 100мл
        </a>
        <div class="card__content-bottom">
          <div class="promotion__amount-block">
            <span class="promotion__amount">
              100&nbsp;₽
            </span>
            <span class="promotion__full-amount">
              185&nbsp;₽
            </span>
          </div>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn promotion__btn"
            type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card promotion__card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker promotion__sticker">
            -25 %
          </span>
          <picture>
            <source srcset="./images/promotion-1.webp" type="image/webp">
            <img class="card__img" src="./images/promotion-1.jpg" alt="Фотография товара" loading="lazy" width="285"
              height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Набор Ванильный эспрессо (уход за&nbsp;телом)
        </a>
        <div class="card__content-bottom">
          <div class="promotion__amount-block">
            <span class="promotion__amount">
              555&nbsp;₽
            </span>
            <span class="promotion__full-amount">
              740&nbsp;₽
            </span>
          </div>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn promotion__btn"
            type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card promotion__card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker promotion__sticker">
            -30 %
          </span>
          <picture>
            <source srcset="./images/promotion-3.webp" type="image/webp">
            <img class="card__img" src="./images/promotion-3.jpg" alt="Фотография товара" loading="lazy" width="285"
              height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Гель для душа ФРАНЖИПАНИ, 500мл
        </a>
        <div class="card__content-bottom">
          <div class="promotion__amount-block">
            <span class="promotion__amount">
              610&nbsp;₽
            </span>
            <span class="promotion__full-amount">
              793&nbsp;₽
            </span>
          </div>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn promotion__btn"
            type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card promotion__card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker promotion__sticker">
            -45 %
          </span>
          <picture>
            <source srcset="./images/promotion-2.webp" type="image/webp">
            <img class="card__img" src="./images/promotion-2.jpg" alt="Фотография товара" loading="lazy" width="285"
              height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Лосьон антибактериальный для рук, 100мл
        </a>
        <div class="card__content-bottom">
          <div class="promotion__amount-block">
            <span class="promotion__amount">
              100&nbsp;₽
            </span>
            <span class="promotion__full-amount">
              185&nbsp;₽
            </span>
          </div>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn promotion__btn"
            type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card promotion__card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <span class="card__sticker promotion__sticker">
            -37 %
          </span>
          <picture>
            <source srcset="./images/promotion-4.webp" type="image/webp">
            <img class="card__img" src="./images/promotion-4.jpg" alt="Фотография товара" loading="lazy" width="285"
              height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Гель антибактериальный для рук, 50мл
        </a>
        <div class="card__content-bottom">
          <div class="promotion__amount-block">
            <span class="promotion__amount">
              100&nbsp;₽
            </span>
            <span class="promotion__full-amount">
              160&nbsp;₽
            </span>
          </div>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn promotion__btn"
            type="button">
            В корзину
          </button>
        </div>
      </div>
    </div>
    @include('pagination.html')
  </div>
</section>
