<section class="reviews" id="reviews">
  <div class="container reviews__container">
    <h2 class="second-title reviews__title">
      Отзывы
    </h2>
    <button class="btn-reset btn secondary-btn reviews__btn" type="button" data-modal="modal-reviews">
      Написать отзыв
    </button>
  </div>
  <div class="container-fluid reviews__container-fluid">
    <div class="swiper reviews__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews__slide">
          <div class="reviews__slide-card">
            <div class="reviews__slide-card-top">
              <span class="text reviews__slide-card-author">
                Арина
              </span>
              <span class="reviews__slide-card-rating">
                <svg>
                  <use href="./images/sprite.svg#white-star"></use>
                </svg>
                <svg>
                  <use href="./images/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use href="./images/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use href="./images/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use href="./images/sprite.svg#star"></use>
                </svg>
              </span>
            </div>
            <div class="text reviews__slide-card-text" lang="zxx">
              Lorem ipsum dolor sit amet consectetur. Adipiscing imperdiet ut ultrices diam molestie amet nunc orci
              lectus. Aliquet fringilla dictumst urna facilisis etiam
            </div>
            <span class="text reviews__slide-card-date">
              21.09.2023
            </span>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="reviews__slide-card">
            <div class="reviews__slide-card-top">
              <span class="text reviews__slide-card-author">
                Мария
              </span>
              <span class="reviews__slide-card-rating">
                <svg>
                  <use href="./images/sprite.svg#white-star"></use>
                </svg>
                <svg>
                  <use href="./images/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use href="./images/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use href="./images/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use href="./images/sprite.svg#star"></use>
                </svg>
              </span>
            </div>
            <div class="text reviews__slide-card-text" lang="zxx">
              Lorem ipsum dolor sit amet consectetur. Adipiscing imperdiet ut ultrices diam molestie amet nunc orci
              lectus. Aliquet fringilla dictumst urna facilisis etiam Lorem ipsum dolor sit amet consectetur. Adipiscing
              imperdiet ut ultrices diam molestie amet nunc orci lectus. Aliquet fringilla dictumst urna facilisis etiam
            </div>
            <span class="text reviews__slide-card-date">
              17.09.2023
            </span>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="reviews__slide-card">
            <div class="reviews__slide-card-top">
              <span class="text reviews__slide-card-author">
                Елизавета
              </span>
              <span class="reviews__slide-card-rating">
                <svg>
                  <use href="./images/sprite.svg#white-star"></use>
                </svg>
                <svg>
                  <use href="./images/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use href="./images/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use href="./images/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use href="./images/sprite.svg#star"></use>
                </svg>
              </span>
            </div>
            <div class="text reviews__slide-card-text" lang="zxx">
              Lorem ipsum dolor sit amet consectetur. Adipiscing imperdiet ut ultrices diam molestie amet nunc orci
              lectus. Aliquet fringilla dictumst urna facilisis etiam
            </div>
            <span class="text reviews__slide-card-date">
              12.09.2023
            </span>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="reviews__slide-card">
            <div class="reviews__slide-card-top">
              <span class="text reviews__slide-card-author">
                Анна
              </span>
              <span class="reviews__slide-card-rating">
                <svg>
                  <use href="./images/sprite.svg#white-star"></use>
                </svg>
                <svg>
                  <use href="./images/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use href="./images/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use href="./images/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use href="./images/sprite.svg#star"></use>
                </svg>
              </span>
            </div>
            <div class="text reviews__slide-card-text" lang="zxx">
              Lorem ipsum dolor sit amet consectetur. Adipiscing imperdiet ut ultrices diam molestie amet nunc orci
              lectus. Aliquet fringilla dictumst urna facilisis etiam
            </div>
            <span class="text reviews__slide-card-date">
              07.09.2023
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
