<section class="savonry">
  <div class="container savonry__container">
    <div class="savonry__banner">
      <picture>
        <source media="(max-width:470px)" srcset="./images/banner-470.webp" type="image/webp">
        <source media="(max-width:470px)" srcset="./images/banner-470.jpg">
        <source media="(max-width:758px)" srcset="./images/banner-758.webp" type="image/webp">
        <source media="(max-width:758px)" srcset="./images/banner-758.jpg">
        <source media="(max-width:990px)" srcset="./images/banner-990.webp" type="image/webp">
        <source media="(max-width:990px)" srcset="./images/banner-990.jpg">
        <source media="(max-width:1230px)" srcset="./images/banner-1230.webp" type="image/webp">
        <source media="(max-width:1230px)" srcset="./images/banner-1230.jpg">
        <source srcset="./images/banner-1920.webp" type="image/webp">
        <img src="./images/banner-1920.jpg" alt="Баннер" width="1200" height="442">
      </picture>
    </div>
    <div class="savonry__block">
      <h2 class="second-title savonry__title">
        О SAVONRY
      </h2>
      <div class="savonry__content">
        <p class="text savonry__paragraph">
          Производство косметики «SAVONRY» базируется на&nbsp;принципах арома&nbsp;&mdash; и&nbsp;фитотерапии,
          при&nbsp;строгом соблюдении рецептур и&nbsp;технологий.
        </p>
        <p class="text savonry__paragraph">
          Здоровье, безопасность и&nbsp;благополучие наших клиентов&nbsp;&mdash; главные приоритеты для&nbsp;нас.
          Мы&nbsp;стремимся предоставить
          продукты высокого качества, использование которых доставит вам&nbsp;удовольствие.
        </p>
        <p class="text savonry__paragraph">
          Поэтому мы&nbsp;уделяем особое внимание оценке ингредиентов, тщательно выбирая те, которые мы&nbsp;включаем
          в&nbsp;наши
          продукты, и&nbsp;те, которые мы&nbsp;исключаем.
        </p>
        <p class="text savonry__paragraph">
          Мы&nbsp;не&nbsp;испытываем продукцию на&nbsp;животных, а&nbsp;пробуем её&nbsp;сами.
        </p>
      </div>
      <div class="savonry__img-block">
        <picture>
          <source media="(max-width:470px)" srcset="./images/savonry-470.webp" type="image/webp">
          <source media="(max-width:470px)" srcset="./images/savonry-470.jpg">
          <source media="(max-width:758px)" srcset="./images/savonry-758.webp" type="image/webp">
          <source media="(max-width:758px)" srcset="./images/savonry-758.jpg">
          <source media="(max-width:1230px)" srcset="./images/savonry-1230.webp" type="image/webp">
          <source media="(max-width:1230px)" srcset="./images/savonry-1230.jpg">
          <source srcset="./images/savonry-1920.webp" type="image/webp">
          <img src="./images/savonry-1920.jpg" alt="Косметика Savonry" width="384" height="365">
        </picture>
      </div>
    </div>
    <div class="savonry__quote">
      <div class="savonry__quote-img-block">
        <picture>
          <source media="(max-width:470px)" srcset="./images/quote-470.webp" type="image/webp">
          <source media="(max-width:470px)" srcset="./images/quote-470.jpg">
          <source media="(max-width:758px)" srcset="./images/quote-758.webp" type="image/webp">
          <source media="(max-width:758px)" srcset="./images/quote-758.jpg">
          <source media="(max-width:990px)" srcset="./images/quote-990.webp" type="image/webp">
          <source media="(max-width:990px)" srcset="./images/quote-990.jpg">
          <source media="(max-width:1230px)" srcset="./images/quote-1230.webp" type="image/webp">
          <source media="(max-width:1230px)" srcset="./images/quote-1230.jpg">
          <source srcset="./images/quote-1920.webp" type="image/webp">
          <img src="./images/quote-1920.jpg" alt="Гель для умывания Savonry" width="692" height="214">
        </picture>
      </div>
      <div class="savonry__quote-content">
        <q class="subhead savonry__quote-text">Наша косметика всегда свежая, потому что&nbsp;мы&nbsp;производим
          её&nbsp;только
          под&nbsp;заказ</q>
        <address class="text savonry__quote-text-author">
          SAVONRY
        </address>
      </div>
    </div>
  </div>
</section>
