<section class="catalog subcatalog">
  <div class="container">
    <div class="subcatalog__product">
      <h2 class="second-title subcatalog__product-title">
        Бурлящие шарики для ванн
      </h2>
      <div class="text subcatalog__product-descr">
        Изящные, грациозные и&nbsp;привлекательные шарики для&nbsp;ванн от&nbsp;&laquo;Savonry&raquo; позволят получить
        новые, потрясающие ощущения от&nbsp;проведения расслабляющей SPA-процедуры. Волшебные &laquo;бомбочки&raquo;
        обладают невероятным эффектом: они&nbsp;увлажняют кожу, делают её&nbsp;невероятно гладкой и&nbsp;шелковистой.
        Обещаем, вы&nbsp;получите максимум удовольствия!
      </div>
      <div class="subcatalog__product-img-block">
        <picture>
          <source media="(max-width:470px)" srcset="./images/subcatalog-470.webp" type="image/webp">
          <source media="(max-width:470px)" srcset="./images/subcatalog-470.jpg">
          <source media="(max-width:758px)" srcset="./images/subcatalog-758.webp" type="image/webp">
          <source media="(max-width:758px)" srcset="./images/subcatalog-758.jpg">
          <source media="(max-width:990px)" srcset="./images/subcatalog-990.webp" type="image/webp">
          <source media="(max-width:990px)" srcset="./images/subcatalog-990.jpg">
          <source media="(max-width:1230px)" srcset="./images/subcatalog-1230.webp" type="image/webp">
          <source media="(max-width:1230px)" srcset="./images/subcatalog-1230.jpg">
          <source srcset="./images/subcatalog-1920.webp" type="image/webp">
          <img src="./images/subcatalog-1920.jpg" alt="Бурлящие шарики для ванн" width="590" height="288">
        </picture>
      </div>
    </div>
  </div>
  <div class="container-fluid catalog__container-fluid">
    <div class="swiper mobile-swiper" data-mobile="false">
      <div class="catalog__nav-list swiper-wrapper">
        <div class="swiper-slide catalog__slide">
          <a class="btn secondary-btn catalog__nav-link" href="#">
            Классические
          </a>
        </div>
        <div class="swiper-slide catalog__slide">
          <a class="btn secondary-btn catalog__nav-link" href="#">
            С игрушкой
          </a>
        </div>
        <div class="swiper-slide catalog__slide">
          <a class="btn secondary-btn catalog__nav-link" href="#">
            С маслами
          </a>
        </div>
        <div class="swiper-slide catalog__slide">
          <a class="btn secondary-btn catalog__nav-link" href="#">
            С пеной
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container subcatalog__container">
    <div class="catalog__products">
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <picture>
            <source srcset="./images/catalog-1.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-1.jpg" alt="Фотография товара" width="285" height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Набор бурлящих шариков Елочка большая
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <picture>
            <source srcset="./images/catalog-2.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-2.jpg" alt="Фотография товара" width="285" height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Набор бурлящих шариков Ёлочка маленькая
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <picture>
            <source srcset="./images/catalog-3.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-3.jpg" alt="Фотография товара" width="285" height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Сердечко соляное для ванны Сладкий лимон
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <picture>
            <source srcset="./images/catalog-4.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-4.jpg" alt="Фотография товара" width="285" height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Сердечко соляное для&nbsp;ванны с&nbsp;солью Лемонграсс
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="./card.html">
          <picture>
            <source srcset="./images/catalog-5.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-5.jpg" alt="Фотография товара" loading="lazy" width="285"
              height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="./card.html">
          Набор BATH BOMB (Набор бурлящих шариков ВИШНЯ-ЧЕРНАЯ СМОРОДИНА-ВИНОГРАД), 3шт.
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <picture>
            <source srcset="./images/catalog-6.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-6.jpg" alt="Фотография товара" loading="lazy" width="285"
              height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Набор BATH BOMB (Набор бурлящих шариков МАРАКУЙЯ-БАНАН-ДЫНЯ), 3шт.
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <picture>
            <source srcset="./images/catalog-7.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-7.jpg" alt="Фотография товара" loading="lazy" width="285"
              height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Набор BATH BOMB (Набор бурлящих шариков ИРИСКА-КОКОС-КОФЕ), 3шт.
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <picture>
            <source srcset="./images/catalog-8.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-8.jpg" alt="Фотография товара" loading="lazy" width="285"
              height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Набор BATH BOMB (Набор бурлящих шариков ЯБЛОКО/КОРИЦА-МАЛИНА-МОРСКИЕ ВОДОРОСЛИ), 3шт.
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <picture>
            <source srcset="./images/catalog-9.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-9.jpg" alt="Фотография товара" loading="lazy" width="285"
              height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Шарик для ванн “Персик”
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <picture>
            <source srcset="./images/catalog-10.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-10.jpg" alt="Фотография товара" loading="lazy" width="285"
              height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Шарик для ванн “Луговые травы”
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <picture>
            <source srcset="./images/catalog-11.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-11.jpg" alt="Фотография товара" loading="lazy" width="285"
              height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Шарик для ванн “Виноград”
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
      <div class="card catalog__products-card">
        <a class="img-link card__img-link catalog__products-img-link" href="#">
          <picture>
            <source srcset="./images/catalog-12.webp" type="image/webp">
            <img class="card__img" src="./images/catalog-12.jpg" alt="Фотография товара" loading="lazy" width="285"
              height="286">
          </picture>
        </a>
        <a class="link card__content-link catalog__products-link" href="#">
          Шарик для ванн “Морские водоросли”
        </a>
        <div class="card__content-bottom">
          <span class="card__content-price">
            740 ₽
          </span>
          <button class="btn-reset btn secondary-btn card__content-btn catalog__products-btn" type="button">
            В корзину
          </button>
        </div>
      </div>
    </div>
    @include('pagination.html')
  </div>
</section>
