<div class="video">
  <div class="container">
    <div class="video__container">
      <picture class="video__bg">
        <source media="(max-width:470px)" srcset="./images/video-470.webp" type="image/webp">
        <source media="(max-width:470px)" srcset="./images/video-470.jpg">
        <source media="(max-width:758px)" srcset="./images/video-758.webp" type="image/webp">
        <source media="(max-width:758px)" srcset="./images/video-758.jpg">
        <source media="(max-width:990px)" srcset="./images/video-990.webp" type="image/webp">
        <source media="(max-width:990px)" srcset="./images/video-990.jpg">
        <source media="(max-width:1230px)" srcset="./images/video-1230.webp" type="image/webp">
        <source media="(max-width:1230px)" srcset="./images/video-1230.jpg">
        <source srcset="./images/video-1920.webp" type="image/webp">
        <img src="./images/video-1920.jpg" alt="Savonry">
      </picture>
      <div class="video__body">
        <div class="video__content"
          data-src="https://www.youtube.com/embed/EspoCMLwV9U?si=mEqrTHDdcGR6iirf?rel=0&showinfo=0&autoplay=1">
        </div>
      </div>
      <button class="btn-reset video__play-btn">
        <svg>
          <use href="./images/sprite.svg#pleer"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
